{{ define "main" }}
{{ $tema := slice "Tema 1" "Tema 2" "Tema 3" "Tema 4" "Tema 5" "Tema 6" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
  <div
    class="bg-banner-galeria bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32 observer">
    <h1 class="tk-mr-eaves-sans uppercase text-white text-3xl lg:text-4xl xl:text-5xl font-black text-center">
      Aprende
    </h1>
  </div>
  <div class="lg:col-span-12">
    <div class="py-12 lg:py-16 bg-cultured">
        <div class="px-9">
            <div class="flex flex-col gap-y-8 lg:flex-row lg:gap-x-12 lg:items-start">
                <div class="lg:w-2/12 lg:sticky lg:top-28">
                    <div class="flex items-center justify-between">
                        <h3 class="text-xl lg:text-2xl font-semibold">Filtros</h3>
                        <button class="text-lg lg:text-xl">Reestablecer</button>
                    </div>
                    <div class="filters mt-4 space-y-2">
                        <div>
                          <button class="accordion accordion--purple" data-tab="0" style="border: 1px solid #BABBC9;">
                            Tema
                            <img class="accordion--images" src="/images/eventos/arrow-right-white.svg" alt="flecha a la derecha">
                          </button>
                          <div class="panel" style="border: 1px solid #BABBC9;">
                            {{ range sort (uniq $tema) "value" "asc" }}
                            <label class="filter-label focus-within:outline-black" for="{{ . }}">
                              <span class="text-lg">{{ . }}</span>
                              <input
                                class="bg-purple bg-opacity-60 w-5 h-5 flex-shrink-0 relative duration-300 border-none focus:bg-opacity-60 checked:bg-opacity-100 checked:bg-purple"
                                type="checkbox" name="tema" id="{{ . }}" value="{{ . }}" disabled>
                            </label>
                            {{ end }}
                          </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-10/12">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                        <div class="bg-white-2 py-5 px-10">
                            <p class="text-lg lg:text-xl text-purple">
                                Apoyo psicosocial
                            </p>
                            <img class="mt-4 w-full" src="/images/aprende/sticky.svg" alt="sticky">
                            <h3 class="-mt-10 md:-mt-6 xl:-mt-10 text-lg lg:text-xl font-semibold w-11/12">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</h3>
                            <p class="mt-4 text-lg lg:text-xl">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u labore dolore magna aliquyam erat, sed Diam...</p>
                            <div class="mt-10 flex items-center justify-between">
                                <p>Fecha: Marzo 15 del 2021</p>
                                <button class="bg-rose text-cultured py-2 px-6">Ver más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "js" }}
{{ $aprende := resources.Get "js/api/aprende.js" | js.Build (dict "minify" hugo.IsProduction)}}
<script src="{{ $aprende.Permalink }}"></script>
{{ end }}
