{{ define "main" }} {{ $data := index .Site.Data.aprende }} 
{{ $tema := slice }}
{{ range $data }}
{{ if .tema }}
{{ $tema = $tema | append .tema }}
{{ end }}
{{ end }}
<div class="grid grid-cols-1 lg:grid-cols-12">
  <div
    class="bg-banner-galeria bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32 observer"
  >
    <h1
      class="tk-mr-eaves-sans uppercase text-white text-3xl lg:text-4xl xl:text-5xl font-black text-center"
    >
      Aprende
    </h1>
  </div>
  <div class="lg:col-span-12">
    <div class="py-12 lg:py-16 bg-cultured">
      <div id="paginationScroll" class="px-9">
        <div
          class="flex flex-col gap-y-8 lg:flex-row lg:gap-x-12 lg:items-start"
        >
          <div class="lg:w-2/12 lg:sticky lg:top-28">
            <div class="flex items-center justify-between">
              <h3 class="text-xl lg:text-2xl font-semibold">Filtros</h3>
              <button id="reset" class="text-lg lg:text-xl">Reestablecer</button>
            </div>
            <div class="filters mt-4 space-y-2">
              <div>
                <button
                  class="accordion accordion--purple"
                  data-tab="0"
                  style="border: 1px solid #babbc9"
                >
                  Tema
                  <img
                    class="accordion--images"
                    src="/images/eventos/arrow-right-white.svg"
                    alt="flecha a la derecha"
                  />
                </button>
                <div class="panel" style="border: 1px solid #babbc9">
                  {{ range sort (uniq $tema) "value" "asc" }}
                  <label
                    class="filter-label focus-within:outline-black"
                    for="{{ . }}"
                  >
                    <span class="text-lg">{{ . }}</span>
                    <input
                      class="bg-purple bg-opacity-60 w-5 h-5 flex-shrink-0 relative duration-300 border-none focus:bg-opacity-60 checked:bg-opacity-100 checked:bg-purple"
                      type="checkbox"
                      name="topic"
                      id="{{ . }}"
                      value="{{ . }}"
                      disabled
                    />
                  </label>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div class="lg:w-10/12">
            <div class="mb-10 flex lg:justify-end">
              <select
                id="orderBy"
                class="bg-space-cadet text-white py-2 px-6 uppercase w-full text-sm lg:w-auto lg:text-base"
              >
                <option value="0">Ordenar por</option>
                <option value="1">Más reciente</option>
                <option value="2">Más antiguo</option>
                <option value="3">A - Z</option>
                <option value="4">Z - A</option>
              </select>
            </div>
            <div class="learn"></div>
            <div class="pagination text-center mt-10 lg:mt-20"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input
    type="hidden"
    name="data"
    id="data-aprende"
    value="{{ jsonify $data }}"
  />
</div>
{{ end }} {{ define "js" }} {{ $aprende := resources.Get "js/api/aprende.js" |
js.Build (dict "minify" hugo.IsProduction)}}
<script src="{{ $aprende.Permalink }}"></script>
{{ end }}
