{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="lg:col-start-1 lg:col-end-13 pt-36 pb-16 lg:pt-40 lg:pb-20 xl:pt-48 xl:pb-32 observer" style="background-color: #3A3D81;">
        <div class="mx-auto w-10/12 xl:w-9/12">
            <div class="flex flex-col lg:flex-row lg:justify-between">
                <div class="lg:w-7/12 text-white">
                    <h1 class="tk-mr-eaves-sans text-4xl xl:text-5xl font-black mx-auto" style="max-width: 517px;">
                        LA PAULINA
                        <span class="block text-3xl xl:text-4xl font-light">
                            VALDIVIA - ANTIOQUIA
                        </span>
                    </h1>
                    <img class="w-full mt-6" src="/images/territorios/line-shape-2.svg" alt="line shape">
                    <p class="text-lg xl:text-xl -mt-2 mx-auto" style="max-width: 517px;">
                        Es una comunidad dispersa en toda la vereda, casi el 80% a borde de carretera con familias muy numerosas (5 o 6 px). Cultivan cacao y tienen una asociación muy fuerte de productores. También tienen otros cultivos de pancoger y proyectos de piscicultura. Hay presencia de grupos armados no estatales y los jóvenes no pueden estar fuera después de las 6 pm.
                    </p>
                </div>
                <div class="lg:w-5/12">
                    <img class="mx-auto" src="/images/territorios/pradera-map.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="px-2 py-8 lg:py-10 xl:py-12 text-center space-y-4" style="background-color: #E6E6E6;">
                <h3 class="text-xl xl:text-2xl font-black">
                    Cantidad de habitantes
                </h3>
                <img class="mx-auto" src="/images/territorios/person-blue.svg" alt="person">
                <p class="text-3xl xl:text-4xl font-black">
                    1250
                    <span class="block text-sm">
                        PERSONAS
                    </span>
                </p>
            </div>
            <div class="px-2 py-8 lg:py-10 xl:py-12 text-center space-y-4" style="background-color: #F0F0F2">
                <h3 class="text-xl xl:text-2xl font-black">
                    Cantidad de familias
                </h3>
                <img class="mx-auto" src="/images/territorios/family.svg" alt="family">
                <p class="text-3xl xl:text-4xl font-black">
                    250
                    <span class="block text-sm">
                        FAMILIAS
                    </span>
                </p>
            </div>
            <div class="px-2 py-8 lg:py-10 xl:py-12 text-center relative" style="background-color: #FAFAFA;">
                <h3 class="text-xl xl:text-2xl font-black">
                    Distancia del casco urbano
                </h3>
                <div class="text-3xl xl:text-4xl font-black mt-4">
                    <div class="inline-flex flex-col space-y-2">
                        <p class="inline-flex items-center">45 <span class="text-sm font-normal ml-1">MINUTOS</span></p>
                        <p class="inline-flex items-center">25 <span class="text-sm font-normal ml-1">KILOMETROS</span></p>
                    </div>
                </div>
                <img class="mx-auto -mt-20" src="/images/territorios/distance.svg" alt="distance">
            </div>
            <div class="px-2 lg:px-12 xl:px-14 py-8 lg:py-10 xl:py-12 space-y-4 overflow-hidden text-center lg:text-left relative" style="background-color: #C3D3A9;">
                <h3 class="text-xl xl:text-2xl font-black">
                    Vías de acceso
                </h3>
                <p class="text-lg xl:text-xl mx-auto lg:mx-0" style="max-width: 338px;">
                    La vereda está sobre la via que conecta a al costa Atlántica, por lo que tiene carretera pero en condiciones regulares. Hay riesgos de deslizamientos, derrumbes e inundación.
                </p>
                <img class="absolute -top-4 -right-0 h-full hidden lg:block" src="/images/territorios/hightwey.svg" alt="hightwey">
            </div>
            <div class="px-2 py-8 lg:py-10 xl:py-12" style="background-color: #FAFAFA;">
                <div class="w-10/12 lg:w-8/12 mx-auto space-y-4">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Infraestructura comunitaria
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            Centro educativo rural La Paulina
                        </li>
                        <li>
                            Caseta comunal
                        </li>
                        <li>
                            Sede ASOCAVAL
                        </li>
                        <li>
                            IE con cancha de fútbol
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-2 lg:px-12 xl:px-14 py-8 lg:py-10 xl:py-12 space-y-4 overflow-hidden text-center lg:text-left" style="background-color: #FAFAFA;">
                <h3 class="text-xl xl:text-2xl font-black">
                    Educación e infraestructura educativa
                </h3>
                <p class="text-lg xl:text-xl mx-auto lg:mx-0" style="max-width: 439px;">
                    Centro educativo rural La Paulina Primaria hasta el grado 8vo, 120 estudiantes, de 9 a 11 lo hacen en la IE de Puerto Valdivia (cuanta con 10 sedes en las veredas aledañas, en total en promedio 614 estudiantes)
                </p>
            </div>
            <div class="px-2 py-8 lg:py-10 xl:py-12" style="background-color: #F0F0F2;">
                <div class="w-10/12 lg:w-8/12 mx-auto space-y-4">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Servicios Públicos
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            &nbsp;
                        </li>
                        <li>
                            &nbsp;
                        </li>
                        <li>
                            &nbsp;
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-2 lg:px-12 xl:px-14 py-8 lg:py-10 xl:py-12 overflow-hidden" style="background-color: #F0F0F2;">
                <div class="w-10/12 lg:w-auto mx-auto space-y-4">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Infraestructura salud y atención psicosocial
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            &nbsp;
                        </li>
                        <li>
                            &nbsp;
                        </li>
                        <li>
                            &nbsp;
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-2 py-8 lg:py-10 xl:py-12" style="background-color: #FAFAFA;">
                <div class="w-10/12 lg:w-8/12 mx-auto space-y-4">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Liderazgo en la comunidad
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            Se identfican liderazgos importantes en el territorio.
                        </li>
                        <li>
                            La JAC es activa y funciona.
                        </li>
                        <li>
                            Hay una Asociación muy representativa en la vereda y a nivel municipal llamada Asociación de cacaoteros de Valdivia (ASOCAVAL)
                        </li>
                        <li>
                            Se rescata la práctica de juntanzas comunitarias.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-2 lg:px-12 xl:px-14 py-8 lg:py-10 xl:py-12 overflow-hidden" style="background-color: #FAFAFA;">
                <div class="w-10/12 lg:w-auto mx-auto space-y-4">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Prácticas Organizativas
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            JAC
                        </li>
                        <li>
                            ASOCAVAL: Asociación de cacaoteros de Valdivia.
                        </li>
                        <li>
                            Procesos en temas productivos y sociales
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20 lg:grid lg:place-items-center" style="background-color: #3A3C6A;">
        <div class="text-white space-y-4 w-10/12 mx-auto px-2 lg:w-auto lg:mx-0">
            <h3 class="text-xl xl:text-2xl font-black">
                Inclusión, diversidad y género
            </h3>
            <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                <li>
                    Algunas mujeres hacen parte de ASOCAVAL.
                </li>
                <li>
                    La JAC tiene una presidenta mujer
                </li>
                <li>
                    No hay organizaciones de mujeres ni jóvenes
                </li>
            </ul>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 lg:w-9/12 xl:w-8/12">
            <div class="flex flex-col lg:flex-row lg:justify-between space-y-8 lg:space-y-0">
                <div class="space-y-8 lg:w-5/12">
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                            <img src="/images/territorios/wifi.svg" alt="wifi">
                        </div>
                        <div class="space-y-2">
                            <h3 class="text-xl xl:text-2xl font-black">
                                Conectividad
                            </h3>
                            <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                                <li>
                                    Regular
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-4" style="border: 1px solid #D27028;">
                        <p class="text-lg xl:text-xl">
                            En algunos espacios se cuenta con señal, en su mayoria debe ser con antena satelital
                        </p>
                    </div>
                </div>
                <div class="space-y-6 lg:w-5/12">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Punto SOLE
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            Centro Educativo rural La paulina, punto de Vive Digital
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #963B62;">
        <div class="mx-auto w-10/12 xl:w-9/12 px-2 lg:px-0">
            <div class="text-white flex flex-col lg:flex-row lg:justify-between lg:items-center space-y-8 lg:space-y-0">
                <div class="lg:w-5/12 space-y-8 lg:space-y-12 xl:space-y-16">
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Actividades económicas principales y vocación productiva
                        </h3>
                        <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                            <li>
                                Agricultura (cacao, plátano y yuca)
                            </li>
                            <li>
                                Pesca
                            </li>
                            <li>
                                Mineria
                            </li>
                        </ul>
                    </div>
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Comunidad sostenible y uso del suelo
                        </h3>
                        <p class="text-lg xl:text-xl">
                            En el marco del proceso de sustitución de cultivos. Se legalizaron 68 predios lo que brinda sostenibilidad a la unidad productiva
                        </p>
                    </div>
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Oportunidades de innovación
                        </h3>
                        <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                            <li>
                                Ruta del cacao: Experiencia turística desde la siembra hasta su transformación
                            </li>
                            <li>
                                Escuela de cacaoteritos: Ubicada en el IE El pital como estrategia para relevo generacional
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:w-5/12 space-y-8 lg:space-y-12 xl:space-y-16">
                    <div>
                        <img src="/images/territorios/person-purple.svg" alt="person">
                    </div>
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Organizaciones con proyección
                        </h3>
                        <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                            <li>
                                ASOCAVAL Tiene alianzas tanto locales como departamentales y cuentan con un centro de acopio para el cacao. Brindan asistencia tecnica a Valdivia y a los municipios cercanos. Proyecto psicola (11 familias) Proyecto de un vivero en alianza con la Asociación Mujeres de Corazón
                            </li>
                            <li>
                                Brindan asistencia técnica a Valdivia y a los municipios cercanos.
                            </li>
                            <li>
                                Proyecto psicola (11 familias)
                            </li>
                            <li>
                                Proyecto de un vivero en alianza con la Asociación Mujeres de Corazón
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 xl:w-9/12 px-2 lg:px-0">
            <div class="flex flex-col lg:flex-row lg:justify-between space-y-8 lg:space-y-0">
                <div class="lg:w-5/12 space-y-8 lg:space-y-12 xl:space-y-16">
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Iniciativas productivas priorizadas
                        </h3>
                        <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                            <li>
                                Cacao
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:w-5/12 space-y-8 lg:space-y-12 xl:space-y-16">
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Organizaciones focalizadas
                        </h3>
                        <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                            <li>
                                ASOCAVAL
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13">
        <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="lg:w-6/12 space-y-8 lg:space-y-12 xl:space-y-16 py-12 lg:py-16 xl:py-20 px-2 relative" style="background-color: #F0F0F2;">
                <div class="space-y-4 w-10/12 lg:w-8/12 xl:w-6/12 mx-auto">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Riesgo
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            Alto
                        </li>
                    </ul>
                </div>
                <img class="absolute bottom-0 left-0 hidden lg:block w-full" src="/images/territorios/riesgo.svg" alt="riesgo">
            </div>
            <div class="lg:w-6/12 space-y-8 lg:space-y-12 xl:space-y-16 py-12 lg:py-16 xl:py-20 px-2" style="background-color: #C3D3A9;">
                <div class="space-y-4 w-10/12 mx-auto lg:w-9/12 lg:ml-auto">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Otros programas USAID
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            No
                        </li>
                    </ul>
                </div>
                <div class="space-y-4 w-10/12 mx-auto lg:w-9/12 lg:ml-auto">
                    <h3 class="text-xl xl:text-2xl font-black">
                        Alianzas y colaboradores
                    </h3>
                    <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                        <li>
                            Empresa privada, alianza con Chocolates Colombia
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #4F7435;">
        <div class="mx-auto w-10/12 xl:w-9/12 px-2 lg:px-0">
            <div class="flex flex-col lg:flex-row lg:justify-between space-y-8 lg:space-y-0 text-white">
                <div class="lg:w-5/12 space-y-8 lg:space-y-12 xl:space-y-16">
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Actividades de ocio
                        </h3>
                        <ul class="space-y-2 text-lg xl:text-xl list-inside list-disc">
                            <li>
                                Empresa privada, alianza con Chocolates Colombia
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:w-5/12 space-y-8 lg:space-y-12 xl:space-y-16">
                    <div class="space-y-4">
                        <h3 class="text-xl xl:text-2xl font-black">
                            Medios de comunicación
                        </h3>
                        <ul class="space-y-4 text-lg xl:text-xl">
                            <li>
                                <p>Televaldivia</p> 
                                <p>321 7710083 </p>
                                <p>televaldivia@cvcomunicaciones.org</p>
                            </li>
                            <li>
                                <p>Televaldivia</p> 
                                <p>321 7710083 </p>
                                <p>televaldivia@cvcomunicaciones.org</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/*  <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12" style="max-width: 406px;">
            <div class="flex justify-between items-center">
                <div style="max-width: 278px;">
                    <h4 class="text-lg xl:text-xl">
                        Número de visitas realizadas. (En referencia al resultado 2)
                    </h4>
                </div>
                <div style="max-width: 128px;">

                </div>
            </div>
        </div>
    </div>  */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:pt-16 xl:py-20 relative overflow-x-hidden" style="background-color: #F0F0F2;">
        <div class="mx-auto w-10/12 xl:w-9/12 flex">
            <div class="lg:w-6/12">
                <h2 class="tk-mr-eaves-sans mb-4 lg:mb-6 text-3xl lg:text-4xl xl:text-5xl font-black">
                    DESCARGA
                </h2>
                <p class="xl:text-xl lg:text-lg mb-7">
                    Descarga la información del municipio para conocer su contexto.
                </p>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 text-center">
                    <a class="uppercase text-white py-2 px-6 xl:text-lg"
                        href='{{ print "/reportes/" .File.BaseFileName ".pdf" }}' download="Ficha-{{ .Title }}"
                        style="background-color: #D27028;">
                        DESCARGA LA FICHA
                    </a>
                    <a class="uppercase text-white py-2 px-6 xl:text-lg" href="#"
                        style="background-color: #C5296A;">
                        DESCARGA LOS DATOS
                    </a>
                </div>
            </div>
        </div>
        <img class="absolute top-0 lg:-right-16 h-full hidden lg:block" src="/images/public/line-shape-2.svg"
            alt="line shape">
    </div>
</div>
{{ end }}