{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- BANNER EVENTS -->
    <div
        class="bg-banner-eventos bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32">
        <h1
            class="tk-mr-eaves-sans uppercase text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black text-center">
            Eventos
        </h1>
    </div>
    <!-- BANNER EVENTS END -->

    <div class="lg:col-start-1 lg:col-end-13 pt-16 pb-24 lg:pt-16 lg:pb-32 xl:pt-20 xl:pb-40" style="background-color: #FAFAFA;">
        <div class="mx-auto w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-12 gap-x-8 gap-y-12">
            <div class="lg:col-start-1 lg:col-end-4">
                <h3 class="text-xl lg:text-2xl mb-4 lg:mb-5 font-black" style="color: #3A3C6A;">
                    Filtros
                </h3>
                <!-- PARENT ELEMENT FILTERS -->
                <div class="filters">
                    <!-- DEPARTAMENTO -->
                    <div class="mb-8">
                        <button class="accordion" data-tab="0" style="background-color: #3A3C6A;">
                            Departamento
                            <img class="accordion--images" src="/images/eventos/arrow-right.svg" alt="arrow right">
                        </button>
                        <div class="panel" style="background-color: #F0F0F2;">
                            <label class="filter-label text-lg" for="antioquia">
                                <span class="text-lg lg:text-xl">Antioquia</span>
                                <input type="checkbox" name="departamento" id="antioquia" value="antioquia">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="bolivar">
                                <span class="text-lg lg:text-xl">Bolivar</span>
                                <input type="checkbox" name="departamento" id="bolivar" value="bolivar">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="cauca">
                                <span class="text-lg lg:text-xl">Cauca</span>
                                <input type="checkbox" name="departamento" id="cauca" value="cauca">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="sucre">
                                <span class="text-lg lg:text-xl">Sucre</span>
                                <input type="checkbox" name="departamento" id="sucre" value="sucre">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="valle-cauca">
                                <span class="text-lg lg:text-xl">Valle del Cauca</span>
                                <input type="checkbox" name="departamento" id="valle-cauca" value="valle-cauca">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!-- DEPARTAMENTO END -->

                    <!-- MUNICIPIO -->
                    <div class="mb-8">
                        <button class="accordion" data-tab="1" style="background-color: #3A3C6A;">
                            Municipio
                            <img class="accordion--images" src="/images/eventos/arrow-right.svg" alt="arrow right">
                        </button>
                        <div class="panel" style="background-color: #F0F0F2;">
                            <label class="filter-label text-lg" for="buenaventura">
                                <span class="text-lg lg:text-xl">Buenaventura</span>
                                <input type="checkbox" name="departamento" id="buenaventura" value="buenaventura">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="pradera">
                                <span class="text-lg lg:text-xl">Pradera</span>
                                <input type="checkbox" name="departamento" id="pradera" value="pradera">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="san-juan-nepomuceno">
                                <span class="text-lg lg:text-xl">San Juan Nepomuceno</span>
                                <input type="checkbox" name="departamento" id="san-juan-nepomuceno"
                                    value="san-juan-nepomuceno">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="valdivia">
                                <span class="text-lg lg:text-xl">Valdivia</span>
                                <input type="checkbox" name="departamento" id="valdivia" value="valdivia">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="san-jacinto">
                                <span class="text-lg lg:text-xl">San Jacinto</span>
                                <input type="checkbox" name="departamento" id="san-jacinto" value="san-jacinto">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!-- MUNICIPIO END -->

                    <!-- MES -->
                    <div class="mb-8">
                        <button class="accordion" data-tab="2" style="background-color: #3A3C6A;">
                            Mes
                            <img class="accordion--images" src="/images/eventos/arrow-right.svg" alt="arrow right">
                        </button>
                        <div class="panel" style="background-color: #F0F0F2;">
                            <label class="filter-label text-lg" for="enero">
                                <span class="text-lg lg:text-xl">Enero</span>
                                <input type="checkbox" name="departamento" id="enero" value="enero">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="febrero">
                                <span class="text-lg lg:text-xl">Febrero</span>
                                <input type="checkbox" name="departamento" id="febrero" value="febrero">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="marzo">
                                <span class="text-lg lg:text-xl">Marzo</span>
                                <input type="checkbox" name="departamento" id="marzo" value="marzo">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="abril">
                                <span class="text-lg lg:text-xl">Abril</span>
                                <input type="checkbox" name="departamento" id="abril" value="abril">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="mayo">
                                <span class="text-lg lg:text-xl">Mayo</span>
                                <input type="checkbox" name="departamento" id="mayo" value="mayo">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="junio">
                                <span class="text-lg lg:text-xl">junio</span>
                                <input type="checkbox" name="departamento" id="junio" value="junio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="julio">
                                <span class="text-lg lg:text-xl">Julio</span>
                                <input type="checkbox" name="departamento" id="julio" value="julio">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="agosto">
                                <span class="text-lg lg:text-xl">Agosto</span>
                                <input type="checkbox" name="departamento" id="agosto" value="agosto">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="septiembre">
                                <span class="text-lg lg:text-xl">Septiembre</span>
                                <input type="checkbox" name="departamento" id="septiembre" value="septiembre">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="octubre">
                                <span class="text-lg lg:text-xl">Octubre</span>
                                <input type="checkbox" name="departamento" id="octubre" value="octubre">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="noviembre">
                                <span class="text-lg lg:text-xl">Noviembre</span>
                                <input type="checkbox" name="departamento" id="noviembre" value="noviembre">
                                <span class="checkmark"></span>
                            </label>
                            <label class="filter-label text-lg" for="diciembre">
                                <span class="text-lg lg:text-xl">Diciembre</span>
                                <input type="checkbox" name="departamento" id="diciembre" value="diciembre">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!-- MES END -->

                    <!-- TIPO EVENTO -->
                    <div>
                        <button class="accordion" data-tab="3" style="background-color: #3A3C6A;">
                            Tipo de Evento
                            <img class="accordion--images" src="/images/eventos/arrow-right.svg" alt="arrow right">
                        </button>
                        <div class="panel" style="background-color: #F0F0F2;">
                            <label class="filter-label text-lg" for="cultural">
                                <span class="text-lg lg:text-xl">Cultural</span>
                                <input type="checkbox" name="departamento" id="cultural" value="cultural">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!-- TIPO EVENTO END -->
                </div>
            </div>
            <div class="lg:col-start-4 lg:col-end-13">
                <div class="text-right my-8">
                    <h3 class="inline-block py-3 px-6 uppercase text-white font-black"
                        style="background-color: #3A3C6A;">ORDENAR POR</h3>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                    <div class="hover:shadow-lg p-10 duration-300" style="background-color: #F0F0F2;">
                        <span class="block text-lg lg:text-xl italic mb-2">Pradera, Valle del Cauca</span>
                        <img class="w-full" src="/images/eventos/sticky.svg" alt="sticky">
                        <h3 class="-mt-12 text-xl lg:text-2xl font-black" style="color: #963B62;">
                            Festival de música andina
                        </h3>
                        <span class="block italic mb-3" style="color: #963B62;">
                            Marzo
                        </span>
                        <p class="text-lg lg:text-xl mb-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet
                        </p>
                        <span class="block italic mb-5">
                            Tipo: Cultural
                        </span>
                        <a class="py-2 px-4 text-white font-black" href="#" style="background-color: #D27028;">CONOCER
                            MÁS</a>
                    </div>
                    <div class="hover:shadow-lg p-10 duration-300" style="background-color: #F0F0F2;">
                        <span class="block text-lg lg:text-xl italic mb-2">Pradera, Valle del Cauca</span>
                        <img class="w-full" src="/images/eventos/sticky.svg" alt="sticky">
                        <h3 class="-mt-12 text-xl lg:text-2xl font-black" style="color: #963B62;">
                            Festival de música andina
                        </h3>
                        <span class="block italic mb-3" style="color: #963B62;">
                            Marzo
                        </span>
                        <p class="text-lg lg:text-xl mb-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet
                        </p>
                        <span class="block italic mb-5">
                            Tipo: Cultural
                        </span>
                        <a class="py-2 px-4 text-white font-black" href="#" style="background-color: #D27028;">CONOCER
                            MÁS</a>
                    </div>
                    <div class="hover:shadow-lg p-10 duration-300" style="background-color: #F0F0F2;">
                        <span class="block text-lg lg:text-xl italic mb-2">Pradera, Valle del Cauca</span>
                        <img class="w-full" src="/images/eventos/sticky.svg" alt="sticky">
                        <h3 class="-mt-12 text-xl lg:text-2xl font-black" style="color: #963B62;">
                            Festival de música andina
                        </h3>
                        <span class="block italic mb-3" style="color: #963B62;">
                            Marzo
                        </span>
                        <p class="text-lg lg:text-xl mb-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet
                        </p>
                        <span class="block italic mb-5">
                            Tipo: Cultural
                        </span>
                        <a class="py-2 px-4 text-white font-black" href="#" style="background-color: #D27028;">CONOCER
                            MÁS</a>
                    </div>
                    <div class="hover:shadow-lg p-10 duration-300" style="background-color: #F0F0F2;">
                        <span class="block text-lg lg:text-xl italic mb-2">Pradera, Valle del Cauca</span>
                        <img class="w-full" src="/images/eventos/sticky.svg" alt="sticky">
                        <h3 class="-mt-12 text-xl lg:text-2xl font-black" style="color: #963B62;">
                            Festival de música andina
                        </h3>
                        <span class="block italic mb-3" style="color: #963B62;">
                            Marzo
                        </span>
                        <p class="text-lg lg:text-xl mb-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet
                        </p>
                        <span class="block italic mb-5">
                            Tipo: Cultural
                        </span>
                        <a class="py-2 px-4 text-white font-black" href="#" style="background-color: #D27028;">CONOCER
                            MÁS</a>
                    </div>
                    <div class="hover:shadow-lg p-10 duration-300" style="background-color: #F0F0F2;">
                        <span class="block text-lg lg:text-xl italic mb-2">Pradera, Valle del Cauca</span>
                        <img class="w-full" src="/images/eventos/sticky.svg" alt="sticky">
                        <h3 class="-mt-12 text-xl lg:text-2xl font-black" style="color: #963B62;">
                            Festival de música andina
                        </h3>
                        <span class="block italic mb-3" style="color: #963B62;">
                            Marzo
                        </span>
                        <p class="text-lg lg:text-xl mb-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet
                        </p>
                        <span class="block italic mb-5">
                            Tipo: Cultural
                        </span>
                        <a class="py-2 px-4 text-white font-black" href="#" style="background-color: #D27028;">CONOCER
                            MÁS</a>
                    </div>
                    <div class="hover:shadow-lg p-10 duration-300" style="background-color: #F0F0F2;">
                        <span class="block text-lg lg:text-xl italic mb-2">Pradera, Valle del Cauca</span>
                        <img class="w-full" src="/images/eventos/sticky.svg" alt="sticky">
                        <h3 class="-mt-12 text-xl lg:text-2xl font-black" style="color: #963B62;">
                            Festival de música andina
                        </h3>
                        <span class="block italic mb-3" style="color: #963B62;">
                            Marzo
                        </span>
                        <p class="text-lg lg:text-xl mb-2">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet
                        </p>
                        <span class="block italic mb-5">
                            Tipo: Cultural
                        </span>
                        <a class="py-2 px-4 text-white font-black" href="#" style="background-color: #D27028;">CONOCER
                            MÁS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- UPCOMING EVENTS -->
    {{ partial "events" . }}
    <!-- UPCOMING EVENTS END -->
</div>
{{ end }}
{{ define "js" }}
{{ $eventos := resources.Get "js/api/eventos.js" | js.Build (dict "minify" hugo.IsProduction)}}
<script src="{{ $eventos.Permalink }}"></script>
{{ end }}