{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    {{/* BANNER PRADERA DEL VALLE CAUCA */}}
    <div class="lg:col-start-1 lg:col-end-13 pt-36 pb-16 lg:pt-40 lg:pb-20 xl:pt-48 xl:pb-32"
        style="background-color: #5F2161;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12">
            <h1 class="tk-mr-eaves-sans tex-2xl lg:text-3xl xl:text-4xl uppercase text-white mb-4 lg:mb-6 xl:mb-8">
                <span class="tex-3xl lg:text-4xl xl:text-5xl font-bold block">Pradera</span>
                Valle del cauca
            </h1>
            <img class="w-full" src="/images/territorios/line-shape.svg" alt="line shape">
            <div class="grid grid-cols-1 lg:grid-cols-12">
                <div class="lg:col-start-2 lg:col-end-7">
                    <p class="text-white lg:text-lg xl:text-xl xl:mb-14">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
                    </p>
                    <img class="mb-6 lg:mb-8 xl:mb-10" src="/images/territorios/pradera-map.svg" alt="pradera map">
                    <p class="text-white lg:text-lg xl:text-xl">
                        Pacífico Medio, Alto Patía y Norte del Cauca.
                    </p>
                </div>
                <div class="lg:col-start-8 lg:col-end-13">
                    <div class="flex flex-col lg:w-10/12 mb-10 lg:mb-12 xl:mb-14">
                        <button class="text-white xl:text-lg py-2 mb-8 cursor-pointer"
                            style="background-color: #C5296A;">TERRITORIO</button>
                        <button class="text-white xl:text-lg py-2 mb-8 cursor-pointer"
                            style="background-color: #C5296A;">SALUD MENTAL Y ATENCIÓN PSICOLÓGICA</button>
                        <button class="text-white xl:text-lg py-2 mb-8 cursor-pointer"
                            style="background-color: #C5296A;">DESARROLLO ECONÓMICO</button>
                        <button class="text-white xl:text-lg py-2 mb-8 cursor-pointer"
                            style="background-color: #C5296A;">TEJIDO SOCIAL Y PRODUCTIVO</button>
                        <button class="text-white xl:text-lg py-2 mb-8 cursor-pointer"
                            style="background-color: #C5296A;">EXPLORAR LOS DATOS</button>
                    </div>
                    <h4 class="text-white text-lg font-bold lg:text-xl xl:text-2xl mb-4 lg:mb-6">
                        Centros poblados y corregimientos
                    </h4>
                    <ul class="grid grid-cols-2 text-white xl:text-lg gap-4">
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            La granja
                        </li>
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            El Recreo
                        </li>
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            La tupia
                        </li>
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            La Feria
                        </li>
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            Lomitas
                        </li>
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            La Cruz
                        </li>
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            Potrerito
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/* BANNER PRADERA DEL VALLE CAUCA END */}}

    {{/* SECTION */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-2 lg:gap-20 xl:gap-24">
            <div class="mx-auto">
                <h3 class="font-black text-xl lg:text-2xl xl:text-3xl mb-8 lg:mb-10 xl:mb-12">
                    Distribución poblacional por sexo
                </h3>
                <div class="flex items-center">
                    <div class="flex items-center mr-8">
                        <img src="/images/territorios/women-icon.svg" alt="women icon">
                        <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-10">
                            25.092
                            <span class="block font-normal lg:text-lg xl:text-2xl">Mujeres</span>
                        </h4>
                    </div>
                    <div class="flex items-center">
                        <img src="/images/territorios/men-icon.svg" alt="men icon">
                        <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-10">
                            23.073
                            <span class="block font-normal lg:text-lg xl:text-2xl">Hombres</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <h3 class="font-black text-xl lg:text-2xl xl:text-3xl mb-8 lg:mb-10 xl:mb-12">
                    Población con discapacidad
                </h3>
                <div class="flex items-center mr-8">
                    <img src="/images/territorios/disability.svg" alt="disability icon">
                    <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-10">
                        4.574
                        <span class="block font-normal text-sm">PERSONAS EN CONDICIÓN <br> DE DISCAPACIDAD</span>
                    </h4>
                </div>
            </div>
            <div class="mx-auto">
                <p class="font-black text-xl mb-6 lg:mb-8 xl:mb-10 text-center">
                    Población total distribuida por <span class="block">sexo</span>
                </p>
                <img class="mx-auto" src="/images/territorios/chart.svg" alt="chart">
            </div>
            <div class="mx-auto">
                <p class="font-black text-xl mb-6 lg:mb-8 xl:mb-10 text-center">
                    Población con discapacidad vs. <span class="block">total de la población</span>
                </p>
                <img class="mx-auto" src="/images/territorios/chart.svg" alt="chart">
            </div>
        </div>
    </div>
    {{/* SECTION END */}}

    {{/* SECTION */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #F0F0F2;">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-y-8 mx-auto w-11/12 lg:w-10/12 xl:w-9/12">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="text-xl lg:text-2xl xl:text-3xl font-black mb-3 lg:mb-5 xl:mb-8" style="color: #963B62;">
                    Comunidades étnicas en la zona
                </h4>
                <ul class="lg:text-lg xl:text-xl">
                    <li class="flex items-center mb-3 lg:mb-4 leading-tight">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                        Resguardo Indígena Kwet Wala (Piedra Grande) conformado por 3 cabildos indígenas.
                    </li>
                    <li class="flex items-center">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                        7 Concejos Comunitarios afrocolombianos.
                    </li>
                </ul>
            </div>
            <div class="lg:col-start-8 lg:col-end-13">
                <h4 class="text-xl lg:text-2xl xl:text-3xl font-black mb-6 lg:mb-8 xl:mb-10 text-center"
                    style="color: #963B62;">
                    Población étnica
                </h4>
                <img class="mx-auto" src="/images/territorios/graphic.svg" alt="graphic">
            </div>
        </div>
    </div>
    {{/* SECTION END */}}

    {{/* SECTION */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div
            class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 gap-y-12 lg:gap-y-16 xl:gap-y-20">
            <div class="lg:col-start-4 lg:col-end-13 grid grid-cols-1 lg:grid-cols-2">
                <div>
                    <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10" style="color: #3A3C6A;">
                        Víctimas del conflicto <span class="ml-2 text-2xl lg:text-3xl xl:text-4xl text-black">15%</span>
                    </h4>
                    <img src="/images/territorios/chart.svg" alt="chart">
                </div>
                <div>
                    <div class="flex mb-6 lg:mb-8 xl:mb-10">
                        <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10"
                            style="color: #3A3C6A;">
                            Sujetos de reparación <span class="block">colectiva</span>
                        </h4>
                        <p class="font-black ml-2 text-2xl lg:text-3xl xl:text-4xl text-black">2</p>
                    </div>
                    <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10" style="color: #3A3C6A;">
                        Sujetos de reparación <span class="block">colectiva</span>
                    </h4>
                </div>
            </div>
            <img class="lg:col-start-4 lg:col-end-13" src="/images/territorios/person.svg" alt="person image">
            <div class="lg:col-start-4 lg:col-end-13">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10" style="color: #3A3C6A;">
                    Entidades del Sistema Nacional de Atención y Reparación
                </h3>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-16 xl:gap-20">
                    <div>
                        <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-2 lg:mb-3 xl:mb-4"
                            style="color: #3A3C6A;">
                            SNARIV:
                        </h4>
                        <ul>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Unidad para la Atención y Reparación Integral a Víctimas (UARIV)
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Unidad de Restitución de Tierras
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Departamento Administrativo para la Prosperidad Social
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Ministerio del Interior
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Ministerio de Justicia y del Derecho
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Agencia de Renovación del Territorio
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                SENA
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Ejército Nacional (Desminado humanitario civil, Halotrust)
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Gobernación
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Alcaldía municipal
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Personería Municipal
                            </li>
                            <li class="flex items-center lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                ICBF
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-2 lg:mb-3 xl:mb-4"
                            style="color: #3A3C6A;">
                            Sistema Integral para la Paz
                        </h4>
                        <ul>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Comisión para el Esclarecimiento de la Verdad (CEV)
                            </li>
                            <li class="flex items-center mb-4 lg:text-lg xl:text-xl">
                                <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                                Jurisdicción Especial para la Paz (JEP)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/* SECTION END */}}
</div>
{{ end }}