{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- BANNER ABOUT PROGRAM -->
    <div
        class="bg-banner-programa bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32">
        <h1
            class="tk-mr-eaves-sans uppercase text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black text-center">
            Sobre el programa
        </h1>
    </div>
    <!-- BANNER ABOUT PROGRAM END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12 py-12 lg:py-16 xl:py-20"
        style="background-color: #FAFAFA;">
        <div class="lg:col-start-1 lg:col-end-10 mx-auto w-11/12 lg:w-10/12 xl:w-9/12">
            <p class="text-lg lg:text-xl xl:text-2xl mb-4 lg:mb-6">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut
                wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea
                commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat,
                vel illum dolore. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
            <p class="text-lg lg:text-xl xl:text-2xl mb-8 lg:mb-10">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut
                wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea
                commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat,
                vel illum dolore. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
            <h2 class="tk-mr-eaves-sans text-2xl lg:text-3xl xl:text-4xl font-black mb-8 lg:mb-10"><span class="pl-3"
                    style="background-color: #D7729C;">¿Quienes</span> colaboran en el programa?</h2>
            <p class="text-lg lg:text-xl xl:text-2xl mb-10 lg:mb-20">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore. Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut
                wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea
                commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat,
                vel illum dolore. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </p>
            <img class="w-full" src="/images/sobre-programa/person.svg" alt="person">
        </div>
    </div>
    <!-- SECTION END -->
</div>
{{ end }}