{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- BANNER ABOUT PROGRAM -->
    <div
        class="bg-banner-programa bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32 observer">
        <h1 class="tk-mr-eaves-sans uppercase text-white text-3xl lg:text-4xl xl:text-5xl font-black text-center">
            Sobre el programa
        </h1>
    </div>
    <!-- BANNER ABOUT PROGRAM END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12" style="background-color: #FAFAFA;">
        <div class="lg:col-start-1 lg:col-end-9 mx-auto w-10/12 lg:w-8/12 py-12 lg:py-0 order-1" style="height: 415px;">
            <div class="flex h-full items-center">
                <p class="xl:text-xl">
                    Más de cincuenta años de conflicto armado han afectado profundamente las vidas de las personas en Colombia. 
                    Hoy, los sobrevivientes del conflicto y las comunidades afectadas por la violencia, han perdido sus medios de sustento 
                    y experimentan ansiedad, ruptura de lazos sociales y carencia de acceso a servicios públicos y necesidades básicas. 
                    Así mismo, en este contexto, persisten diferentes formas de discriminación, estigmatizaciones y falta de oportunidades. 
                    Las mujeres, los jóvenes, las personas con orientaciones sexuales diversas, las personas pertenecientes a pueblos indígenas 
                    o afrodescendientes, las personas mayores y las personas con discapacidad son los más vulnerables a la segregación en los 
                    diferentes ámbitos.
                </p>
                
            </div>
        </div>
        <div class="lg:col-start-9 lg:col-end-13 order-2">
            <img class="h-full w-full object-center object-cover" src="/images/sobre-programa/photo-1.jpg"
                alt="photo 1">
        </div>
        <div class="lg:col-start-1 lg:col-end-5 order-4 lg:order-3">
            <img class="h-full w-full object-cover object-center" src="/images/sobre-programa/photo-2.jpg"
                alt="photo 2">
        </div>
        <div class="lg:col-start-5 lg:col-end-13 py-12 lg:py-0 order-3 lg:order-4"
            style="background-color: #3A3C6A; ">
            <div class=" mx-auto w-10/12 lg:w-8/12 flex items-center h-full">
                <p class="xl:text-xl text-white self-stretch flex flex-col justify-center py-16 lg:py-20 xl:py-24">
                    Aunque el Consejo Nacional de Política y Economía Social (CONPES) 3726 de 2011 estableció que tres millones de víctimas 
                    accederían a la medida de rehabilitación, en especial a la atención psicosocial, a 2020 solo 863.777 personas habían 
                    accedido a estos servicios (por PAPSIVI: 637,752 y por EREG: 226,025). Lo cual demuestra el enorme desafío que enfrenta 
                    el gobierno colombiano para proveer Servicios de Salud Mental y Apoyo Psicosocial a toda la población de víctimas y a 
                    las comunidades afectadas por el conflicto en Colombia.<br><br>
                
                El Programa Hilando Vidas y Esperanza (WLH, por sus siglas en inglés), de la Agencia de Estados Unidos para el Desarrollo 
                    Internacional (USAID), implementado por la Organización Internacional para las Migraciones (OIM), asume que la resiliencia 
                    de los sobrevivientes del conflicto y de sus comunidades solo puede lograrse entendiendo y enfrentando sus necesidades 
                    más apremiantes. 
                      </p>
            </div>
        </div>
        <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20 order-5">
            <div class="mx-auto w-10/12 xl:w-9/12">
                <p class="xl:text-xl">
                    
                    
                    Por eso, www.hilandocomunidades.com nace como iniciativa del Programa WLH siendo una plataforma de comunicación participativa 
                    y comunitaria que busca difundir las acciones emprendidas por diferentes aliados para mejorar la salud mental y el bienestar 
                    de las comunidades; exaltar a los sobrevivientes; y promover la reconciliación de las familias y la rehabilitación de las 
                    relaciones comunitarias. 
                  </p> <br>
                <p class="xl:text-xl">
                    En este espacio de divulgación encontrarás noticias, eventos, cubrimientos especiales, campañas,  fotografías y videos 
                    de la comunidad WLH, siendo un espacio de co-creación que integra grupos juveniles y de mujeres; grupos étnicos; 
                    poblaciones diversas; iniciativas culturales y de comunicación; asociaciones campesinas; y organizaciones de la 
                    sociedad civil que trabajan en proyectos productivos, derechos humanos, género e inclusión, y protección del medio ambiente.
                    </p><br>
                <p class="xl:text-xl">
                    Esta plataforma web promueve el aprendizaje entre pares, el co-diseño, el empoderamiento del conocimiento local, 
                    el aprendizaje experiencial, los intercambios de conocimiento, la mentoría uno-a-uno y la comunicación para el cambio social.

                </p>
            </div>
        </div>
        <div class="lg:col-start-1 lg:col-end-9 py-12 lg:py-0 order-6"
            style="background-color: #963B62; ">
            <div class="mx-auto w-10/12 lg:w-8/12 flex items-center h-full">
                <div class="text-white self-stretch flex flex-col justify-center py-16 lg:py-20 xl:py-24">
                    <h2 class="tk-mr-eaves-sans font-black text-3xl xl:text-4xl mb-6 lg:mb-4">
                        <span class="px-1" style="background-color: #C5296A;">¿Quiénes</span> somos?
                    </h2>
                    <p class="xl:text-xl">
                        Somos una plataforma colaborativa y de divulgación, que nace como iniciativa del Programa Hilando Vidas y 
                        Esperanza (WLH) de USAID, implementado por OIM, con el fin de contribuir a resignificar las víctimas del 
                        conflicto como sobrevivientes destacando su resiliencia y capacidades para transformar sus comunidades. 
                        Buscamos transformar imaginarios y visibilizar las iniciativas que contribuyen a que los sobrevivientes del 
                        conflicto vivan una más vida tranquila, productiva y en paz. </p><br>
                      <p class="xl:text-xl">  
                        A partir de contar las historias de lo que pasa los territorios priorizados por el Programa WLH, buscamos 
                        junto a diferentes socios inspirar, cambiar paradigmas, impulsar y exaltar a las comunidades resilientes de Colombia. 
                          </p><br>
                      
                       

                    </p>
                </div>
            </div>
        </div>
        <div class="lg:col-start-9 lg:col-end-13 order-7">
            <img class="h-full w-full object-center object-cover" src="/images/sobre-programa/photo-3.jpg"
                alt="photo 3">
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12">
            <p class="xl:text-xl">  
                        Hilando Comunidades agrupa las experiencias de tres regiones gravemente afectadas por el conflicto armado: <b>1) Bajo Cauca y Nordeste Antioqueño; 
                        2) Montes de María, y 3) Pacífico Medio, Alto Patía y Norte del Cauca.  </b></p><br><br>
            
            <div class="grid grid-cols-1 lg:grid-cols-6 gap-y-8 lg:gap-6">
               
               
                
                <div class="lg:col-start-1 lg:col-end-5 lg:row-start-1 lg:row-end-4 border-2"
                    style="border-color: #3A3C6A;"><img class="w-full h-full object-cover object-center"
                        src="/images/sobre-programa/1-mapa-WLH.png" alt="mapa WLH">
                </div>
                <div class="lg:col-start-5 lg:col-end-7 lg:row-start-1 lg:row-end-2 border-2"
                    style="border-color: #3A3C6A;"><img class="w-full h-full object-cover object-center"
                        src="/images/sobre-programa/2-mapas-montes-de-maria.png" alt="mapa montes maria"></div>
                <div class="lg:col-start-5 lg:col-end-7 lg:row-start-2 lg:row-end-3 border-2"
                    style="border-color: #3A3C6A;"><img class="w-full h-full object-cover object-center"
                        src="/images/sobre-programa/3-mapas-bajo-cauca.png" alt="mapa bajo cauca"></div>
                <div class="lg:col-start-5 lg:col-end-7 lg:row-start-3 lg:row-end-4 border-2"
                    style="border-color: #3A3C6A;"><img class="w-full h-full object-cover object-center"
                        src="/images/sobre-programa/4-mapas-pacifico-medio.png" alt="mapa pacifico medio"></div>
            </div>
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20 text-white" style="background-color: #3A3C6A;">
        <div class="mx-auto w-10/12">
            <div class="grid grid-cols-1 lg:grid-cols-12 gap-y-8">
                <div class="lg:col-start-1 lg:col-end-8">
                    
                    <p class="xl:text-xl">
                        En este espacio, las diferentes comunidades tendrán un espacio para incluir sus fotografías, su agenda de actividades 
                        y sus historias, siendo un espacio que integra grupos juveniles y de mujeres; grupos étnicos; poblaciones diversas; 
                        iniciativas culturales y de comunicación; asociaciones campesinas; y organizaciones de la sociedad civil que trabajan 
                        en proyectos productivos, derechos humanos, género e inclusión, y protección del medio ambiente.
                    </p>
                </div>
                <div class="lg:col-start-9 lg:col-end-13 self-end">
                    <img src="/images/sobre-programa/person.svg" alt="person">
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION END -->
</div>
{{ end }}
