{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- BANNER ABOUT PROGRAM -->
    <div
        class="bg-banner-programa bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32 observer">
        <h1 class="tk-mr-eaves-sans uppercase text-white text-3xl lg:text-4xl xl:text-5xl font-black text-center">
            Sobre el programa
        </h1>
    </div>
    <!-- BANNER ABOUT PROGRAM END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12 py-12 lg:py-16 xl:py-20"
        style="background-color: #FAFAFA;">
        <div class="lg:col-start-1 lg:col-end-10 mx-auto w-10/12 xl:w-9/12">
            <p class="text-lg lg:text-xl xl:text-2xl mb-4 lg:mb-6">
                Más de cincuenta años de conflicto armado han afectado profundamente las vidas de las personas en
                Colombia. Hoy, los sobrevivientes del conflicto y las comunidades afectadas por la violencia, han
                perdido sus medios de sustento y experimentan ansiedad, ruptura de lazos sociales y carencia de acceso a
                servicios públicos y necesidades básicas. Así mismo, en este contexto, persisten diferentes formas de
                discriminación, estigmatizaciones y falta de oportunidades. Las mujeres, los jóvenes, las personas con
                orientaciones sexuales diversas, las personas pertenecientes a pueblos indígenas o afrodescendientes,
                las personas mayores y las personas con discapacidad son los más vulnerables a la segregación en los
                diferentes ámbitos.
            </p>
            <p class="text-lg lg:text-xl xl:text-2xl mb-4 lg:mb-6">
                Aunque el Consejo Nacional de Política y Economía Social (CONPES) 3726 de 2011 estableció que tres
                millones de víctimas accederían a la medida de rehabilitación, en especial a la atención psicosocial, a
                2020 solo 863.777 personas habían accedido a estos servicios (por PAPSIVI: 637,752 y por EREG: 226,025).
                Lo cual demuestra el enorme desafío que enfrenta el gobierno colombiano para proveer Servicios de Salud
                Mental y Apoyo Psicosocial a toda la población de víctimas y a las comunidades afectadas por el
                conflicto en Colombia.
            </p>
            <p class="text-lg lg:text-xl xl:text-2xl mb-8 lg:mb-10">
                El Programa Hilando Vidas y Esperanza (WLH, por sus siglas en inglés), de la Agencia de Estados Unidos
                para el Desarrollo Internacional (USAID), implementado por la Organización Internacional para las
                Migraciones (OIM), asume que la resiliencia de los sobrevivientes del conflicto y de sus comunidades
                solo puede lograrse entendiendo y enfrentando sus necesidades más apremiantes. Mejorar la salud mental y
                el bienestar psicosocial de las comunidades afectadas por el conflicto y de los sobrevivientes es una
                condición para la reconciliación de las familias y la rehabilitación de las relaciones comunitarias, lo
                que a su vez facilita el empoderamiento económico y el mejoramiento de los medios de vida. Desde esta
                perspectiva, WLH implementará una estrategia integral que ubica a los individuos en el centro de la
                intervención. Las actividades del Programa no solo buscan fortalecer las capacidades de las personas,
                las comunidades y las organizaciones de la sociedad civil, sino de instituciones, políticas y programas.
                Junto al gobierno colombiano (del nivel nacional, departamental y local), el sector privado, la
                academia, los medios de comunicación y los gremios empresariales el Programa contribuirá al mejoramiento
                de la salud mental, la reconstrucción del tejido social, el crecimiento económico sostenible e inclusivo
                y para la construcción de paz territorial y convivencia.
            </p>
            <h2 class="tk-mr-eaves-sans text-2xl lg:text-3xl xl:text-4xl font-black mb-8 lg:mb-10"><span class="px-1"
                    style="background-color: #D7729C;">Objetivo</span> del programa</h2>
            <p class="text-lg lg:text-xl xl:text-2xl mb-10 lg:mb-20">
                Generar alianzas con el gobierno, las comunidades y los sobrevivientes del conflicto para avanzar en la
                inclusión de mecanismos de apoyo psicosocial en las intervenciones comunitarias, mejorar el acceso a
                servicios de salud mental y psicosocial; mitigar los riesgos asociados al trauma psicosocial; y permitir
                a los sobrevivientes del conflicto vivir una vida productiva y en paz. WLH apoyará a las organizaciones
                de la sociedad civil en áreas como liderazgo, generación de ingresos, resolución de conflictos y
                comunicación para desarrollar capacidades locales, promover la resiliencia e impulsar transformaciones
                sociales para la convivencia pacífica.
            </p>
            <img class="w-full" src="/images/sobre-programa/person.svg" alt="person">
        </div>
    </div>
    <!-- SECTION END -->
</div>
{{ end }}