{{ define "main" }}

<!-- BANNER TERRITORIES -->
<div class="pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32" style="background-color: #C5296A;">
    <h1
        class="tk-mr-eaves-sans uppercase text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black text-center">
        Territorios
    </h1>
</div>
<!-- BANNER TERRITORIES END -->

<!-- TERRITORIES -->
<div class="py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
    <div class="mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-5/12 mb-10 lg:mb-12 xl:mb-12">
        <p class="lg:text-lg xl:text-xl text-center">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore.
        </p>
    </div>
    <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 flex flex-col lg:flex-row">
        <div class="lg:w-4/12 mb-8 lg:mb-0">
            <h2 class="font-black text-lg lg:text-xl xl:text-2xl mb-2 lg:mb-4">
                Montes de María
            </h2>
            <ul>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Chalán</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Colosó</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">San Juan Nepomuceno</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">San Jacinto</a>
                </li>
                <li>
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Toluviejo</a>
                </li>
            </ul>
        </div>
        <div class="lg:w-4/12 mb-8 lg:mb-0">
            <h2 class="font-black text-lg lg:text-xl xl:text-2xl mb-2 lg:mb-4">
                Bajo Cauca y Nordeste Antioqueño
            </h2>
            <ul>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Anorí</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Cáceres</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">El Bagre</a>
                </li>
                <li>
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Valdivia</a>
                </li>
            </ul>
        </div>
        <div class="lg:w-4/12">
            <h2 class="font-black text-lg lg:text-xl xl:text-2xl mb-2 lg:mb-4">
                Pacífico Medio, Alto Patía y Norte del Cauca
            </h2>
            <ul>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Buenaventura</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Buenos Aires</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Santander de Quilichao</a>
                </li>
                <li class="mb-4 lg:mb-5">
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Pradera</a>
                </li>
                <li>
                    <a class="lg:text-lg xl:text-xl pb-1 border-b-2 border-black" href="#">Toribío</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- TERRITORIES END -->

<!-- DATA EXPLORER -->
<div class="py-12 lg:py-16 xl:py-20" style="background-color: #3A3C6A;">
    <div class="text-white mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-5/12 mb-10 lg:mb-12 xl:mb-16 text-center">
        <h2 class="tk-mr-eaves-sans mb-4 text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black">
            EXPLORA LOS TERRITORIOS
        </h2>
        <p class="lg:text-lg xl:text-xl relative px-8 py-4 mb-4 lg:mb-6 xl:mb-8">
            <img class="w-full absolute top-0 left-0" src="/images/public/shape-gray.svg" alt="shape gray">
            <span class="relative">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper.
            </span>
        </p>
        <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#" style="background-color: #C5296A;">
            CÓMO UTILIZAR ESTA HERRAMIENTA
        </a>
    </div>
    <img class="mx-auto w-10/12" src="/images/public/app-datasketch.svg" alt="app datasketch">
</div>
<!-- DATA EXPLORER END -->

<!-- DOWNLOAD -->
<div class="py-12 lg:pt-16 xl:py-20 relative" style="background-color: #F0F0F2;">
    <div class="mx-auto w-11/12 lg:w-10/12 xl:w-9/12 flex">
        <div class="md:w-6/12 lg:w-5/12">
            <h2 class="tk-mr-eaves-sans mb-4 lg:mb-6 text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black"
                style="color: #3A3C6A;">
                DESCARGA
            </h2>
            <p class="xl:text-xl lg:text-lg mb-7">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat.
            </p>
            <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#" style="background-color: #D27028;">
                DESCARGA LOS DATOS
            </a>
        </div>
    </div>
    <img class="absolute top-0 -right-44 md:-right-40 lg:-right-48 xl:-right-56 h-full" src="/images/public/line-shape-2.svg" alt="line shape">
</div>
<!-- DOWNLOAD END -->
{{ end }}