backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

# This line should *not* be indented
media_folder: "images/uploads" # Media files will be stored in the repo under images/uploads

public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads

# NOTICIAS
collections:
  - name: "noticias" # Used in routes, e.g., /admin/collections/blog
    label: "Noticias" # Used in the UI
    folder: "content/noticias" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Titulo", name: "title", widget: "string"}
      - {label: "Fecha de publicación", name: "date", widget: "datetime"}
      - {label: "Imagen", name: "image", widget: "image"}
      - {label: "Descripción", name: "description", widget: "text"}
      - {label: "Contenido", name: "body", widget: "markdown"}