.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 12px;
  z-index: 50;
  transition: all 0.3s;
}
.header--active {
  padding: 4px 6px;
}

.header--active img {
  @apply duration-300;
  height: 60px;
}

@media only screen and (min-width: 1024px) {
  .header {
    position: fixed;
    padding: 12px 28px;
  }
  .header--active {
    padding: 6px 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding: 16px 36px;
  }
  .header--active {
    padding: 8px 18px;
  }
}

.nav {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  top: 0;
  left: -100%;
  background-color: rgb(58, 60, 106);
  width: 100%;
  height: 100vh;
  padding: 64px;
  padding-bottom: 32px;
  z-index: 40;
  transition: all 0.3s;
}
@media only screen and (min-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav--active {
  display: flex;
  left: 0;
}
.menu-button {
  position: relative;
  cursor: pointer;
  z-index: 50;
}
@media only screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}
.menu-icon {
  position: relative;
}
.menu-icon,
.menu-icon::before,
.menu-icon::after {
  display: block;
  background-color: #fff;
  width: 32px;
  height: 3px;
  transition: all 0.3s ease;
}
.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.menu-icon::before {
  top: 10px;
}

.menu-icon::after {
  top: -10px;
}

.menu-icon--active {
  background-color: transparent !important;
}

.menu-icon--active::before,
.menu-icon--active::after {
  top: 0 !important;
  background-color: #fff;
}

.menu-icon--active::before {
  transform: rotate(-135deg) !important;
}

.menu-icon--active::after {
  transform: rotate(135deg) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  visibility: hidden;
  transition: all 0.3s;
}
.overlay--active {
  background-color: #000;
  opacity: 0.6;
  visibility: visible;
  cursor: pointer;
  z-index: 30;
}
.btn-up {
  position: fixed;
  bottom: 24px;
  right: -100%;
  width: 48px;
  height: 48px;
  background-color: rgb(58, 60, 106);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 4px;
  z-index: 50;
}
.btn-up--active {
  right: 24px;
}
