@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    header {
        background: linear-gradient(rgba(58,60,106, 0.82), rgba(58,60,106, 0.82));
    }
}

@layer components {
}

@layer utilities {
}