{{ define "content" }}
<section class="page-a4 relative pb-8">
    <div class="absolute w-full bottom-0 text-center">
        <a class="inline-block" href="https://www.datasketch.co">
            <img class="h-5" src="/powered-by.png" alt="">
        </a>
    </div>
    <!-- Banner -->
    <div class="bg-purple text-cultured p-4">
        <div class="flex justify-between tk-mr-eaves-sans">
            <div>
                <h1 class="font-extrabold text-xl uppercase">{{ .Title }}</h1>
                <p class="font-extralight text-xs uppercase">{{ .Params.departamento }}</p>
            </div>
            <div class="flex space-x-4 flex-shrink-0 text-sm">
                <div class="text-right self-center">
                    <p class="font-extrabold">Fichas de caracterización municipal</p>
                    <p class="font-extralight uppercase">Weaving lives and hope</p>
                </div>
                <div class="border-r"></div>
                <img class="h-10 self-center" src="/images/public/logo-hilando.svg" alt="">
            </div>
        </div>
        <div class="mt-12 flex justify-between">
            <div class="w-1/3">
                <p class="tk-mr-eaves-sans font-extrabold text-sm bg-white bg-opacity-20 -ml-6 pl-6 pr-2 inline-block">
                    Territorio
                </p>
                {{ with .Params.description }}
                    <p class="mt-4 text-xxs">{{ . }}</p>
                {{ end }}
                {{ with .Params.comunidad_focalizada }}
                    <div class="text-xxs">
                        <p class="font-bold mt-4">Comunidad focalizada</p>
                        <ul class="mt-2">
                            {{ range . }}
                                <li class="flex items-center space-x-2">
                                    <img class="inline-block w-4" src="/images/public/comunidad-icon.png" alt="">
                                    <span>{{ . }}</span>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}
            </div>
            <div class="w-2/5">
                <div class="aspect-w-3 aspect-h-2 border border-white">
                    <iframe src="{{ .Params.grafica_comunidades_focalizadas }}" frameborder="0"></iframe>
                </div>
                <p class="text-center text-xxxs italic mt-2">{{ .Params.region }}</p>
            </div>
        </div>
    </div>
    <!-- Distribución poblacional -->
    <div class="p-4">
        <p class="tk-mr-eaves-sans text-space-cadet font-extrabold text-sm bg-space-cadet bg-opacity-25 -ml-6 pl-6 pr-2 inline-block">
            Distribución poblacional
        </p>
        <div class="flex items-start mt-8">
            <div class="w-1/4">
                {{ with .Params.distribucion_poblacional_mujeres }}
                    <div class="flex items-center p-6 border-b border-space-cadet">
                        <img class="w-20" src="/images/territorios/women-icon.svg" alt="">
                        <div class="text-left -ml-6">
                            <p class="font-bold text-xs leading-none">{{ . }}</p>
                            <p class="uppercase font-bold text-xxxs">Mujeres</p>
                        </div>
                    </div>
                {{ end }}
                {{ with .Params.distribucion_poblacional_hombres }}
                    <div class="flex items-center p-6 border-b border-space-cadet">
                        <img class="w-20" src="/images/territorios/men-icon.svg" alt="">
                        <div class="text-left -ml-6">
                            <p class="font-bold text-xs leading-none">{{ . }}</p>
                            <p class="uppercase font-bold text-xxxs">Hombres</p>
                        </div>
                    </div>
                {{ end }}
                {{ with .Params.poblacion_discapacidad }}
                    <div class="flex items-center p-6 border-b border-space-cadet last:border-0">
                        <img class="w-20" src="/images/territorios/disability.svg" alt="">
                        <div class="text-left -ml-6">
                            <p class="font-bold text-xs leading-none">{{ . }}</p>
                            <p class="uppercase font-bold text-xxxs text-xs">Personas en condición de discapacidad</p>
                        </div>
                    </div>
                {{ end }}
            </div>
            <div class="w-3/4">
                <table class="w-full border-collapse">
                    <tbody>
                        <tr>
                            <td class="border border-space-cadet">
                                <iframe src="{{ .Params.grafica_poblacion_genero }}" frameborder="0" class="h-64 w-full"></iframe>
                            </td>
                            <td class="border border-space-cadet">
                                <iframe src="{{ .Params.grafica_area_geografica_genero }}" frameborder="0" class="h-64 w-full"></iframe>
                            </td>
                        </tr>
                        {{ $comunidades_etnicas := slice }}
                        {{ range .Params.comunidades_etnicas_zona }}
                            {{ if len . }}
                                {{ $comunidades_etnicas = $comunidades_etnicas | append . }}
                            {{ end }}
                        {{ end }}
                        <tr>
                            <td colspan="2" class="border border-space-cadet py-2 px-6 text-xxs">
                                <div class="flex items-start">
                                    <div class="w-1/2">
                                        {{ if ne (len $comunidades_etnicas) 0}}
                                            <p class="font-bold">Comunidades étnicas en la zona</p>
                                            <ul style="column-count: 2;" class="mt-2">
                                                {{ range $comunidades_etnicas }}
                                                    <li class="flex items-center space-x-1">
                                                        <img class="w-1" src="/images/public/point-black.svg" alt="">
                                                        <span>{{ . }}</span>
                                                    </li>
                                                {{ end }}
                                            </ul>
                                        {{ end }}
                                        <ul class="mt-2">
                                            <li class="flex items-center space-x-1">
                                                <img class="w-1" src="/images/public/point-black.svg" alt="">
                                                <span>Asentamientos indígenas: {{ or .Params.asentamientos_indigenas 0 }}</span>
                                            </li>
                                            <li class="flex items-center space-x-1">
                                                <img class="w-1" src="/images/public/point-black.svg" alt="">
                                                <span>Resguardos indígenas: {{ or .Params.resguardos_indigenas 0 }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="w-1/2">
                                        <iframe src="{{ .Params.grafica_pertenencia_etnica }}" frameborder="0" class="h-64 w-full"></iframe> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- <section class="page-a4 relative"></section> -->
{{ end }}