{{ define "content" }}
<section style="page-break-after: always;">
    <div class="bg-purple text-cultured py-32">
        <div class="container mx-auto">
            <div class="flex justify-between tk-mr-eaves-sans">
                <div>
                    <h1 class="font-extrabold text-5xl uppercase">{{ .Title }}</h1>
                    <p class="font-extralight text-2xl uppercase">{{ .Params.departamento }}</p>
                </div>
                <div class="flex space-x-4">
                    <div class="text-right self-center">
                        <p class="font-extrabold text-2xl">Fichas de caracterización municipal</p>
                        <p class="font-extralight text-2xl uppercase">Weaving lives and hope</p>
                    </div>
                    <div class="border-r"></div>
                    <img class="h-16 self-center" src="/images/public/logo-hilando.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<p>hola</p>
{{ end }}