<!-- DATA EXPLORER -->
<div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20 bg-space-cadet" id="explorador">
  <div class="text-white mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-6/12 mb-10 lg:mb-12 xl:mb-16 text-center">
    <h2 class="tk-mr-eaves-sans mb-4 text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black">
      EXPLORA LOS TERRITORIOS
    </h2>
    <p class="lg:text-lg xl:text-xl relative px-8 py-4 lg:py-6 mb-4 lg:mb-6 xl:mb-8 mx-auto lg:w-10/12">
      <img class="w-full absolute top-0 left-0" src="/images/public/shape-gray.svg" alt="">
      <span class="relative">
        Explora la información de todos los territorios focalizados por temáticas.
      </span>
    </p>
    <details class="text-center text-lg">
      <summary class="inline-block  cursor-pointer uppercase text-white py-2 px-6 xl:text-lg bg-rose">CÓMO UTILIZAR ESTA
        HERRAMIENTA</summary>
      <div class="mt-14 space-y-8">
        <p>
          Esta herramienta de visualización de datos para explorar la información relacionada con los
          municipios focalizados por el programa. En el primer panel se encuentran todos los posibles
          controles de cambio y las secciones que se visualizarán en el segundo panel. En el tercer panel se
          podrá tener detalles de la información.
        </p>
        <p>
          En el primer panel es posible explorar la información por filtros, como los municipios por explorar
          y la posibilidad de comparación con los otros, de acuerdo con las secciones del programa. Cada
          sección tiene un menú desplegable de información de interés con diferentes variables para
          contemplar.
        </p>
        <img class="mx-auto" src="/gifs/primer-panel-wlh.gif" alt="">
        <p>
          En el segundo panel se podrán visualizar los cambios que se realizan en el primer panel, se puede
          seleccionar el tipo de visualización deseada, incluso las tablas que contienen los datos.
        </p>
        <p>
          Finalmente, se podrán descargar las visualizaciones y los datos en distintos formatos, según se
          desee.
        </p>
        <img class="mx-auto" src="/gifs/segundo-panel-wlh.gif" alt="">
        <p>
          El tercer panel permitirá que el usuario dé clic a algún dato dentro de la gráfica y obtener
          información de detalle de los datos tratados en la gráfica.
        </p>
        <img class="mx-auto" src="/gifs/tercer-panel-wlh.gif" alt="">
      </div>
    </details>
  </div>
  <iframe class="mx-auto w-11/12 h-screen" src="https://datasketch.shinyapps.io/wlhApp/" frameborder="0"
    title="Mapa para explorar los territorios"></iframe>
</div>
<!-- DATA EXPLORER END -->
