<!-- DATA EXPLORER -->
<div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #3A3C6A;">
    <div class="text-white mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-6/12 mb-10 lg:mb-12 xl:mb-16 text-center">
        <h2 class="tk-mr-eaves-sans mb-4 text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black">
            EXPLORA LOS TERRITORIOS
        </h2>
        <p class="lg:text-lg xl:text-xl relative px-8 py-4 lg:py-6 mb-4 lg:mb-6 xl:mb-8 mx-auto lg:w-10/12">
            <img class="w-full absolute top-0 left-0" src="/images/public/shape-gray.svg" alt="shape gray">
            <span class="relative">
                Explora la información de todos los territorios focalizados por temáticas.
            </span>
        </p>
        <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#" style="background-color: #C5296A;">
            CÓMO UTILIZAR ESTA HERRAMIENTA
        </a>
    </div>
    <iframe class="mx-auto w-10/12 h-screen" src="https://datasketch.shinyapps.io/wlhApp/" frameborder="0"></iframe>
</div>
<!-- DATA EXPLORER END -->