<div class="lg:col-start-1 lg:col-end-13 relative py-12 lg:py-16 xl:py-20" style="background-color: #3A3C6A;">
    <div class="mx-auto w-9/12 relative">
        <h2
            class="tk-mr-eaves-sans font-black text-3xl xl:text-4xl mb-4 lg:mb-6 xl:mb-8 text-center text-white">
            Próximos
            <span class="pl-2" style="background-color: #6C3C66;">eventos</span>
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:gap-x-12 xl:gap-x-20 mb-12 lg:mb-16 xl:mb-20">
            <div class="relative text-white p-10 hover:shadow-lg duration-300" style="background-color: #3A3C6A;">
                <img class="mb-4 lg:mb-6" src="/images/home/notice.png" alt="notice">
                <h3 class="relative text-lg lg:text-xl xl:text-2xl font-black mb-2 lg:mb-3 border-b-2 pb-2"
                    style="border-color: #963B62;">
                    <img class="absolute -top-4 xl:-top-3 left-0" src="/images/public/triangle-up.svg"
                        alt="tiangle up">
                    <span class="relative">Nombre del próximo evento</span>
                </h3>
                <p class="relative lg:text-lg xl:text-xl mb-4 lg:mb-5">
                    <img class="absolute -top-2 lg:-top-3 right-0" src="/images/public/triangle-down.svg"
                        alt="tiangle up">
                    <span class="relative">Julio 24 del 2021</span>
                </p>
                <p class="lg:text-lg xl:text-xl mb-8 lg:mb-10">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </p>
                <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                    style="background-color: #C5296A;">
                    Conoce más
                </a>
            </div>
            <div class="hidden md:block relative text-white p-10 hover:shadow-lg duration-300"
                style="background-color: #3A3C6A;">
                <img class="mb-4 lg:mb-6" src="/images/home/notice.png" alt="notice">
                <h3 class="relative text-lg lg:text-xl xl:text-2xl font-black mb-2 lg:mb-3 border-b-2 pb-2"
                    style="border-color: #963B62;">
                    <img class="absolute -top-4 xl:-top-3 left-0" src="/images/public/triangle-up.svg"
                        alt="tiangle up">
                    <span class="relative">Nombre del próximo evento</span>
                </h3>
                <p class="relative lg:text-lg xl:text-xl mb-4 lg:mb-5">
                    <img class="absolute -top-2 lg:-top-3 right-0" src="/images/public/triangle-down.svg"
                        alt="tiangle up">
                    <span class="relative">Julio 24 del 2021</span>
                </p>
                <p class="lg:text-lg xl:text-xl mb-8 lg:mb-10">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut
                    laoreet dolore magna aliquam erat volutpat.
                </p>
                <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                    style="background-color: #C5296A;">
                    Conoce más
                </a>
            </div>
        </div>
        <img class="absolute transform -translate-y-1/2 top-1/2 -left-12 md:-left-16 lg:-left-20 xl:-left-28"
            src="/images/public/left-arrow.svg" alt="left arrow">
        <img class="absolute transform -translate-y-1/2 top-1/2 -right-12 md:-right-16 lg:-right-20 xl:-right-28"
            src="/images/public/right-arrow.svg" alt="left arrow">
    </div>
    <img src="/images/public/line-shape.svg" alt="line shape"
        class="absolute -top-4 sm:-top-6 md:-top-8 lg:-top-10 xl:-top-12 2xl:-top-14 left-0">
</div>