{{ $data := .Site.Data.eventos }}
<div class="mx-auto w-11/12 lg:w-10/12 relative">
    <!-- Slider main container -->
    <div class="swiper swiper-events events">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {{ range $data }}
            {{ if .foto }}
                <!-- Slides -->
            <div class="swiper-slide">
                <div class="bg-purple bg-opacity-75 text-white overflow-hidden" style="box-shadow: 0px 11px 11px #28202966;">
                    <h3 class="text-xl font-semibold relative p-6 pb-2">
                        <span class="relative z-10">{{ .nombre_evento | truncate 40 }}</span>
                        <img class="absolute top-4 sm:top-3 left-3" src="/images/public/sticky-title.svg" alt="sticky title">
                    </h3>
                    <div class="flex flex-col xl:flex-row relative">
                        <div class="xl:w-1/2 pb-12 order-2 xl:order-1">
                            <div>
                                <div class="px-6">
                                    <div class="pt-5">
                                        <p class="text-xl xl:text-2xl font-bold">
                                            {{ .dia_inicio }}
                                        </p>
                                        <p class="-mt-2 italic xl:text-lg">
                                            {{ .mes }}
                                        </p>
                                    </div>
                                </div>
                                <div class="p-6">
                                    <p class="text-sm">
                                        {{ with .descripcion }}
                                        {{ . | truncate 120 }}
                                        {{ else }}
                                    <p>No existe una descripción para este evento.</p>
                                    {{ end }}
                                    </p>
                                </div>
                                <div class="absolute bottom-0 left-0">
                                    <button data-id="{{ .id }}" class="cursor-pointer inline-block uppercase py-2 px-6 bg-purple font-bold">Conoce
                                        más</button>
                                </div>
                            </div>
                        </div>
                        <div class="xl:w-1/2 order-1 xl:order-2">
                            {{ $evento := .nombre_evento }}
                            {{ with .Params.foto }}
                            {{ range first 1 . }}
                            <img class="w-full h-full object-cover object-center" style="height: 330px;" src="{{ . }}" alt="{{ $evento }}">
                            {{ end }}
                            {{ else }}
                            <img class="w-full h-full object-cover object-center" style="height: 330px;" src="{{ .thumbnail }}" alt="{{ $evento }}">
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">
        <img src="/images/public/left-arrow.svg" alt="arrow left">
    </div>
    <div class="swiper-button-next">
        <img src="/images/public/right-arrow.svg" alt="arrow right">
    </div>
</div>