<footer class="py-12 lg:py-16 xl:py-20 mx-auto" style="background-color: #FAFAFA;">
    <div class="mx-auto w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-x-10 xl:gap-x-12">
        <div class="order-3 lg:order-1 lg:col-start-1 lg:col-end-8 mx-auto w-11/12 lg:w-full">
            <p class="text-sm text-center lg:text-left mb-4 lg:mb-0">
                La información publicada en este sitio web no es información oficial del gobierno de Estados Unidos y no
                representa los puntos de vista o posiciones de la Agencia de Estados Unidos para el Desarrollo
                Internacional (USAID) o del gobierno de los Estados Unidos.
            </p>
            <img src="/images/public/logo-entities.png" alt="logo entities">
            
           
        </div>
        <ul class="order-1 text-center lg:text-left lg:order-2 mx-auto lg:col-start-8 lg:col-end-11"
            style="color: #3A3C6A;">
            <li class="mb-5"><a class="font-bold" href="{{ relref . " sobre-nosotros.md" }}">SOBRE NOSOTROS</a>
            </li>
            <li class="mb-5"><a class="font-bold" href="{{ relref . " territorios/_index.md" }}">TERRITORIOS</a></li>
            <li class="mb-5"><a class="font-bold" href="{{ relref . " eventos.md" }}">EVENTOS</a></li>
            <li class="mb-5"><a class="font-bold" href="{{ relref . " noticias.md" }}">NOTICIAS</a></li>
        </ul>
        <div class="order-2 lg:order-3 text-center lg:text-left lg:col-start-11 lg:col-end-13" style="color: #3A3C6A;">
            <div>
                <p class="mb-3 font-bold">CONTÁCTANOS</p>
                <div class="flex items-center justify-center lg:justify-start">
                    <a href="https://twitter.com/OIMColombia" target="_blank" aria-label="Visítanos en twitter">
                        <img class="mr-6" src="/images/public/twitter-icon.svg" alt="social media">
                    </a>
                    <a href="https://www.facebook.com/OIMColombia/" target="_blank" aria-label="Visítanos en facebook">
                        <img class="mr-6" src="/images/public/facebook-icon.svg" alt="social media">
                    </a>
                    <a href="https://www.instagram.com/oimcolombia/" target="_blank" aria-label="Visítanos en instagram">
                        <img class="" src="/images/public/instagram-icon.svg" alt="social media">
                    </a>
                </div>
            </div>
            <div class="mt-8">
                
                <a class="font-bold bg-space-cadet text-white py-2 px-4 inline-flex space-x-2" style="font-size:8pt;" href="terms.html">
                    <span>Declaración de privacidad</span>
                    <img src="/images/public/arrow-newsletter.svg" alt="arrow">
                </a>
            </div>

        </div>
    </div>
</footer>
<div class="py-4" style="background-color: #3A3C6A;">
    <img class="mx-auto" src="/images/public/logo-datasketch.svg" alt="logo datasketch">
</div>
