<footer class="py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
    <div class="mx-auto w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-x-10 xl:gap-x-12">
        <div class="lg:col-start-1 lg:col-end-8">
            <p class="text-sm">
                La información publicada en este sitio web no es información oficial del gobierno de Estados Unidos y no
                representa los puntos de vista o posiciones de la Agencia de Estados Unidos para el Desarrollo
                Internacional (USAID) o del gobierno de los Estados Unidos.
            </p>
            <img src="/images/public/logo-entities.png" alt="logo entities">
        </div>
        <ul class="mx-auto lg:col-start-8 lg:col-end-11" style="color: #3A3C6A;">
            <li class="mb-5"><a class="font-bold" href="{{ relref . " sobre-el-programa.md" }}">SOBRE EL PROGRAMA</a>
            </li>
            <li class="mb-5"><a class="font-bold" href="#">MUNICIPIOS</a></li>
            <li class="mb-5"><a class="font-bold" href="#">EXPLORA</a></li>
            <li class="mb-5"><a class="font-bold" href="#">DIRECTORIO</a></li>
            <li class="mb-5"><a class="font-bold" href="{{ relref . " noticias.md" }}">NOTICIAS</a></li>
        </ul>
        <div class=" lg:col-start-11 lg:col-end-13" style="color: #3A3C6A;">
            <p class="mb-3 font-bold">CONTÁCTANOS</p>
            <div class="flex items-center">
                <img class="mr-6" src="/images/public/twitter-icon.svg" alt="social media">
                <img class="mr-6" src="/images/public/facebook-icon.svg" alt="social media">
                <img class="" src="/images/public/telegram-icon.svg" alt="social media">
            </div>
        </div>
    </div>
</footer>
<div class="py-4 lg:py-6" style="background-color: #3A3C6A;">
    <img class="mx-auto" src="/images/public/logo-datasketch.svg" alt="logo datasketch">
</div>