{{ $pages := where .Site.Pages "Section" "territorios" }}
<header class="header">
  <div class="mx-auto">
    <div class="flex justify-between items-center">
      <div class="flex-1 lg:w-auto">
        <a class="inline-block" href="{{ relref . "/" }}" aria-label="Página de inicio">
          <img src="/images/public/logo-hilando.svg" alt="Logo Hilando Vidas representado por la silueta del mapa de Colombia con unas personas hilando desde adentro">
        </a>
      </div>
      <!-- MENU BUTTON -->
      <button tabindex="0" class="menu-button py-4" aria-label="Abrir menú">
        <span class="menu-icon" id="menu-icon"></span>
      </button>
      <!-- MENU BUTTON END -->
      <nav class="tk-mr-eaves-sans text-white font-bold self-end">
        {{ $currentPage := . }}
        <!-- NAV DESKTOP -->
        <ul class="hidden lg:flex lg:items-center lg:gap-x-12 xl:gap-x-16">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="menu relative">
              {{ if (eq .Title "Territorios") }}
                <a class="uppercase border-b-2 border-transparent pb-1 duration-300" href="{{ .URL }}">
                  {{ .Title }}
                </a>
              {{ else }}
                <a class="uppercase border-b-2 border-transparent pb-1 duration-300" href="#">
                  {{ .Title }}
                </a>
              {{ end }}
                {{ if eq .Page.Section "territorios" }}
                <ul class="sub-menu-territories transform -translate-x-1/2 left-1/2 flex text-sm" style="width: 480px;">
                    <li class="sub-menu-buttons" style="width: 134px;">
                      {{ range $index, $element := $.Site.Menus.region }}
                        <button data-id="{{ $index }}" class="sub-menu-button active">{{ .Name }}</button>
                      {{ end }}
                    </li>    
                    {{ range $.Site.Menus.region }}            
                    <li class="sub-menu-items hidden" style="width: 346px;">
                      {{ if .HasChildren }}    
                      {{ range .Children }}
                      {{ $name := .Name }}
                      <div>
                        <a href="{{ .URL | absURL }}" class="inline-flex items-center gap-x-1 font-bold">
                          <span>{{ $name }}</span>
                          <img class="w-2 h-2 duration-300 sub-menu-icon" src="/images/public/arrow-menu.svg" alt="flecha de menu">
                        </a>
                        <ul>
                          {{ range where $pages "Title" $name }}
                            {{ range .Params.comunidades }}
                              <li>
                                <a href="{{ .permalink }}">{{ .label }}</a>
                              </li>
                            {{ end }}
                          {{ end }}
                        </ul>
                      </div>
                      {{ end }}
                      {{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ else }}
                <ul class="sub-menu transform -left-12 w-48">
                {{ range .Children }}
                <li>
                  <a href="{{ .URL }}" class="block text-base py-4 px-4 border-t border-white">{{ .Name
                    }}</a>
                </li>
                {{ end }}
              </ul>
                {{ end }}
            </li>
          {{ else }}
          {{ $menu_item_url := .URL | relLangURL }}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
          {{ if eq $menu_item_url $page_url }}
          <li class="">
            <a class="uppercase border-b-2 border-white pb-1 duration-300" href="{{ .URL }}">{{ .Title
              }}</a>
          </li>
          {{ else }}
          <li class="">
            <a class="uppercase border-b-2 border-transparent hover:border-white pb-1 duration-300" href="{{ .URL }}">{{
              .Title }}</a>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <!-- NAV DESKTOP END -->

        <!-- NAV MOBILE -->
        <ul class="nav">
          {{ range .Site.Menus.main }}
          {{ $menu_item_url := .URL | relLangURL }}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
          {{ if eq .Title "Territorios" }}
          <li>
           <button id="button-territories" class="uppercase text-xl border-b-2 border-transparent hover:border-white pb-1 duration-300">
             <b>{{ .Title }}</b>
           </button>
         </li> 
          {{ else }}
          {{ if eq $menu_item_url $page_url }}
          <li>
            <a class="uppercase text-xl border-b-2 border-white pb-1 duration-300" href="{{ .URL }}">
              {{.Title}}
            </a>
          </li>
          {{ else }}
          <li>
            <a class="uppercase text-xl border-b-2 border-transparent hover:border-white pb-1 duration-300"
              href="{{ .URL }}">{{ .Title }}
            </a>
          </li> 
          {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        <!-- NAV MOBILE END -->
        <!-- NAV MOBILE TERRITORIES -->
        <div id="nav-territories" class="lg:hidden fixed top-0 -right-full h-screen overflow-y-auto bg-oxford-blue z-50 duration-300" style="width: 80vw;">
          <!-- ACCORDIONS -->
          {{ range $.Site.Menus.region }}
          <details class="border-b border-white">
            <summary class="w-full flex items-center justify-between p-5 cursor-pointer">
              <p>{{ .Name }}</p>
              <img class="w-2.5 h-2.5 transform" src="/images/public/arrow-menu.svg" alt="flecha de menu">
            </summary>     
            {{ if .HasChildren }}    
            {{ range .Children }}
            {{ $name := .Name }}
              <details class="border-b border-white">
                <summary class="w-full flex items-center justify-between p-2.5 px-5 bg-space-cadet bg-opacity-50 cursor-pointer">
                  {{ $name }}
                </summary>
                <div class="bg-white px-5 p-2.5 text-black font-normal">
                  <ul>
                    <li>
                      <a href="{{ .URL | absURL }}">{{ $name }}</a>
                    </li>
                    {{ range where $pages "Title" $name }}
                      {{ range .Params.comunidades }}
                        <li>
                          <a href="{{ .permalink }}">{{ .label }}</a>
                        </li>
                      {{ end }}
                    {{ end }}
                  </ul>
                </div>
              </details>
            {{ end }}
            {{ end }}
          </details>
          {{ end }}
        </div>
        <div id="nav-territories-overlay" class="lg:hidden fixed top-0 left-0 h-screen w-full bg-black bg-opacity-40 invisible cursor-pointer">&nbsp;</div>
        <!-- NAV MOBILE TERRITORIES END -->
      </nav>
    </div>
  </div>
</header>
