<header class="header">
    <div class="mx-auto max-w-screen-2xl">
        <div class="flex justify-between items-center">
            <a href="{{ relref . " /" }}">
                <img src="/images/public/logo-hilando.svg" alt="Logo Hilando Vidas">
            </a>
            <nav class="tk-mr-eaves-sans text-white font-bold self-end">
                {{ $currentPage := . }}
                <!-- NAV DESKTOP -->
                <ul class="hidden lg:flex items-center">
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <div class="menu relative">
                        <li class="mr-20">
                            <a class="uppercase border-b-2 border-transparent pb-1 duration-300"
                                href="{{ .URL }}">{{ .Title }}</a>
                        </li>
                        <ul class="sub-menu transform -left-12 w-48">
                            {{ if eq .Page.Section "territorios" }}
                            {{ range $.Site.Menus.region }}
                            <li class="py-4 px-4 border-t border-white">
                                <div class="flex justify-between items-center">
                                    <p class="text-sm">{{ .Name }}</p>
                                    <img class="w-2 h-2" src="/images/public/arrow-menu.svg" alt="arrow menu">
                                </div>
                                {{ if .HasChildren }}
                                <ul class="sub-menu-2 border-t border-white mt-2 pt-2">
                                    {{ range .Children }}
                                    <li>
                                        <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                            </li>
                            {{ end }}
                            {{ else }}
                            {{ range .Children }}
                            <li>
                                <p class="uppercase text-sm">{{ .Name }}</p>
                            </li>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                    {{ else }}
                    {{ $menu_item_url := .URL | relLangURL }}
                    {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                    {{ if eq $menu_item_url $page_url }}
                    <li class="mr-20">
                        <a class="uppercase border-b-2 border-white pb-1 duration-300" href="{{ .URL }}">{{ .Title
                            }}</a>
                    </li>
                    {{ else }}
                    <li class="mr-20">
                        <a class="uppercase border-b-2 border-transparent hover:border-white pb-1 duration-300"
                            href="{{ .URL }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </ul>
                <!-- NAV DESKTOP END -->

                <!-- NAV MOBILE -->
                <ul class="nav">
                    {{ range .Site.Menus.main }}
                    {{ $menu_item_url := .URL | relLangURL }}
                    {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                    {{ if eq $menu_item_url $page_url }}
                    <li><a class="uppercase text-xl border-b-2 border-white pb-1 duration-300" href="{{ .URL }}">{{
                            .Title
                            }}</a></li>
                    {{ else }}
                    <li><a class="uppercase text-xl border-b-2 border-transparent hover:border-white pb-1 duration-300"
                            href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
                <!-- NAV MOBILE END -->
            </nav>
            <!-- MENU BUTTON -->
            <div class="menu-button py-4">
                <span class="menu-icon" id="menu-icon"></span>
            </div>
            <!-- MENU BUTTON END -->
        </div>
    </div>
</header>