{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- BANNER TERRITORIES -->
    <div
        class="bg-banner-territorios bg-cover bg-center lg:col-start-1 lg:col-end-13 pt-48 pb-20 md:pt-52 md:pb-24 lg:pt-56 lg:pb-28 xl:pt-60 xl:pb-32 observer">
        <h1 class="tk-mr-eaves-sans uppercase text-white text-3xl lg:text-4xl xl:text-5xl font-black text-center">
            Territorios
        </h1>
    </div>
    <!-- BANNER TERRITORIES END -->

    <!-- TERRITORIES -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-5/12 mb-10 lg:mb-12 xl:mb-16">
            <p class="lg:text-lg xl:text-xl text-center">
                Conoce los principales indicadores (en temas de salud mental, resiliencia comunitaria y empoderamento
                económico) de los municipios priorizados por WLH. Compara los territorios a través de varias categorías
                como características de la población, infraestructura tecnológica, tasas de violencia, vocación del
                municipio, emprendimiento, celebraciones destacadas, y muchos más. Entérate de los proyectos que estamos
                ejecutando con las comunidades en cada una de las regiones.
            </p>
        </div>
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-2 lg:grid-cols-3 gap-x-6 lg:gap-x-8 xl:gap-x-12 gap-y-10">
            {{ range .Pages.GroupByParam "region" }}
            <div>
                <h3 class="font-black text-lg lg:text-xl xl:text-2xl mb-2 lg:mb-4">{{ .Key }}</h3>
                <ul class="grid grid-cols-1 gap-y-4">
                    {{ range .Pages }}
                    <li class="line">
                        <a class="lg:text-lg xl:text-xl" href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
    <!-- TERRITORIES END -->

    <!-- DATA EXPLORER -->
    {{ partial "data-explorer" . }}
    <!-- DATA EXPLORER END -->

    <!-- DOWNLOAD -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:pt-16 xl:py-20 relative" style="background-color: #F0F0F2;">
        <div class="mx-auto w-10/12 xl:w-9/12 flex">
            <div class="md:w-6/12 lg:w-5/12">
                <h2 class="tk-mr-eaves-sans mb-4 lg:mb-6 text-3xl lg:text-4xl xl:text-5xl font-black">
                    DESCARGA
                </h2>
                <p class="xl:text-xl lg:text-lg mb-7">
                    Descarga la información de cada municipio para conocer el contexto de cada uno de ellos.
                </p>
                <details class="inline-block">
                    <summary class="inline-block cursor-pointer uppercase font-bold text-white py-3 px-8 xl:text-lg" style="background-color: #D27028;">
                        Descarga las fichas
                    </summary>
                    <ul class="p-8 text-white grid gap-y-8 overflow-y-scroll" style="background-color: #D27028; height: 300px;">
                        {{ range where .RegularPages "Section" "territorios" }}
                            <li class="text-lg">
                                <a href='{{ print "/reportes/" .File.BaseFileName ".pdf" }}' download="Ficha-{{ .Title }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </details>
            </div>
        </div>
        <img class="absolute top-0 -right-44 md:-right-16 h-full" src="/images/public/line-shape-2.svg"
            alt="line shape">
    </div>
    <!-- DOWNLOAD END -->
</div>
{{ end }}