{{ define "main" }}
{{ $data := .Site.Data.eventos }}
{{ $municipio := .Title }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    {{/* BANNER PRADERA DEL VALLE CAUCA */}}
    <div class="lg:col-start-1 lg:col-end-13 pt-36 pb-16 lg:pt-40 lg:pb-20 xl:pt-48 xl:pb-32 observer"
        style="background-color: #5F2161;">
        <div class="mx-auto w-10/12 xl:w-9/12">
            <h1 class="tk-mr-eaves-sans tex-2xl lg:text-3xl xl:text-4xl uppercase text-white mb-4 lg:mb-6 xl:mb-8">
                <span class="tex-3xl lg:text-4xl xl:text-5xl font-bold block">{{ .Title }}</span>
                {{ .Params.departamento }}
            </h1>
            <img class="w-full" src="/images/territorios/line-shape.svg" alt="line shape">
            <div class="grid grid-cols-1 lg:grid-cols-12 gap-y-8 lg:gap-y-10 xl:gap-y-12">
                <div class="lg:col-start-1 lg:col-end-7">
                    <p class="text-white lg:text-lg xl:text-xl mb-8 lg:mb-10 xl:mb-14">
                        {{ .Params.description }}
                    </p>
                    <div class="border border-white mb-4" id="territorio">
                        {{ with .Params.grafica_ubicacion_geografica }}
                        <iframe class="mx-auto w-full h-96" src="{{ . }}" frameborder="0"></iframe>
                        {{ else }}
                        <img class="mx-auto mb-6 lg:mb-8 xl:mb-10" src="/images/territorios/pradera-map.svg"
                            alt="pradera map">
                        {{ end }}
                    </div>
                    <p class="text-white lg:text-lg xl:text-xl text-center">
                        {{ .Params.region }}
                    </p>
                </div>
                <div class="lg:col-start-8 lg:col-end-13 single-navigation">
                    <div class="flex flex-col text-center lg:w-10/12 mb-10 lg:mb-12 xl:mb-14">
                        <a href="#territorio"
                            class="text-white xl:text-lg py-2 mb-8 cursor-pointer single-navigation__item"
                            style="background-color: #C5296A;">TERRITORIO</a>
                        <a href="#salud" class="text-white xl:text-lg py-2 mb-8 cursor-pointer single-navigation__item"
                            style="background-color: #C5296A;">SALUD MENTAL Y ATENCIÓN PSICOLÓGICA</a>
                        <a href="#actividades-economicas"
                            class="text-white xl:text-lg py-2 mb-8 cursor-pointer single-navigation__item"
                            style="background-color: #C5296A;">DESARROLLO ECONÓMICO</a>
                        <a href="#tejido-social-productivo"
                            class="text-white xl:text-lg py-2 mb-8 cursor-pointer single-navigation__item"
                            style="background-color: #C5296A;">TEJIDO SOCIAL Y PRODUCTIVO</a>
                        <a href="#explora-datos"
                            class="text-white xl:text-lg py-2 cursor-pointer single-navigation__item"
                            style="background-color: #C5296A;">EXPLORAR LOS DATOS</a>
                    </div>
                </div>
                <div class="lg:col-start-1 lg:col-end-7">
                    <h3 class="text-white text-xl lg:text-2xl font-black mb-4 lg:mb-6">Comunidades focalizadas</h3>
                    <ul class="grid grid-cols-2 text-white xl:text-lg gap-4">
                        {{ range .Params.comunidad_focalizada }}
                        <li class="flex items-center">
                            <img class="mr-2" src="/images/public/point.svg" alt="point">
                            {{ . }}
                        </li>
                        {{ end }}
                    </ul>
                    <iframe class="mx-auto w-full h-96 mt-8 border border-white"
                        src="{{ .Params.grafica_comunidades_focalizadas }}" frameborder="0"></iframe>
                </div>
                <div class="lg:col-start-8 lg:col-end-13">
                    <h3 class="text-white text-xl lg:text-2xl font-black mb-4 lg:mb-6">Centros poblados y corregimientos
                    </h3>
                    <ul class="grid grid-cols-2 text-white xl:text-lg gap-y-4">
                    {{ range .Params.centros_poblados_corregimientos }}
                    <li class="flex items-center">
                        <img class="mr-2" src="/images/public/point.svg" alt="point">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
                </div>
            </div>
        </div>
    </div>
    {{/* BANNER PRADERA DEL VALLE CAUCA END */}}

    {{/* SECTION */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-2 lg:gap-20 xl:gap-24">
            <div class="mx-auto">
                <h3 class="font-black text-xl lg:text-2xl xl:text-3xl mb-8 lg:mb-10 xl:mb-12">
                    Distribución poblacional por sexo
                </h3>
                <div class="flex items-center">
                    <div class="flex items-center mr-8">
                        <img src="/images/territorios/women-icon.svg" alt="women icon">
                        <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-10">
                            {{ .Params.distribucion_poblacional_mujeres }}
                            <span class="block font-normal lg:text-lg xl:text-2xl">Mujeres</span>
                        </h4>
                    </div>
                    <div class="flex items-center">
                        <img src="/images/territorios/men-icon.svg" alt="men icon">
                        <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-10">
                            {{ .Params.distribucion_poblacional_hombres }}
                            <span class="block font-normal lg:text-lg xl:text-2xl">Hombres</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <h3 class="font-black text-xl lg:text-2xl xl:text-3xl mb-8 lg:mb-10 xl:mb-12">
                    Población con discapacidad
                </h3>
                <div class="flex items-center mr-8">
                    <img src="/images/territorios/disability.svg" alt="disability icon">
                    <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-10">
                        {{ .Params.poblacion_discapacidad }}
                        <span class="block font-normal text-sm">PERSONAS EN CONDICIÓN <br> DE DISCAPACIDAD</span>
                    </h4>
                </div>
            </div>
            <div class="mx-auto">
                {{ with .Params.grafica_poblacion_genero }}
                <iframe class="mx-auto w-full h-96" src="{{ . }}" frameborder="0"></iframe>
                {{ else }}
                <img class="mx-auto" src="/images/territorios/chart.svg" alt="chart">
                {{ end }}
            </div>
            <div class="mx-auto">
                {{ with .Params.grafica_area_geografica_genero }}
                <iframe class="mx-auto w-full h-96" src="{{ . }}" frameborder="0"></iframe>
                {{ else }}
                <img class="mx-auto" src="/images/territorios/chart.svg" alt="chart">
                {{ end }}
            </div>
        </div>
    </div>
    {{/* SECTION END */}}

    {{/* SECTION */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #F0F0F2;">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-y-8 mx-auto w-10/12 xl:w-9/12">
            <div class="lg:col-start-1 lg:col-end-6">
                <h4 class="text-xl lg:text-2xl xl:text-3xl font-black mb-3 lg:mb-5 xl:mb-8" style="color: #963B62;">
                    Comunidades étnicas en la zona
                </h4>
                <ul class="lg:text-lg xl:text-xl mb-4 lg:mb-6">
                    {{ range .Params.comunidades_etnicas_zona }}
                    {{ if . }}
                    <li class="flex items-center mb-3 lg:mb-4 leading-tight">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                        {{ . }}
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
                {{ if .Params.asentamientos_indigenas }}
                <div class="flex items-center mb-4 lg:mb-6">
                    <div class="flex items-center mr-2">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                        <h4 class="text-xl lg:text-2xl">Asentamientos indígenas:</h4>
                    </div>
                    <p class="text-xl lg:text-2xl font-bold">{{ .Params.asentamientos_indigenas }}</p>
                </div>
                {{ end }}
                {{ if .Params.resguardos_indigenas }}
                <div class="flex items-center mb-4 lg:mb-6">
                    <div class="flex items-center mr-2">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                        <h4 class="text-xl lg:text-2xl">Resguardos indígenas:</h4>
                    </div>
                    <p class="text-xl lg:text-2xl font-bold">{{ .Params.resguardos_indigenas }}</p>
                </div>
                {{ end }}
                {{ if .Params.consejos_comunitarios }}
                <div class="flex items-center">
                    <div class="flex items-center mr-2">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                        <h4 class="text-xl lg:text-2xl">Consejos comunitarios:</h4>
                    </div>
                    <p class="text-xl lg:text-2xl font-bold">{{ .Params.consejos_comunitarios }}</p>
                </div>
                {{ end }}
            </div>
            <div class="lg:col-start-8 lg:col-end-13">
                <h4 class="text-xl lg:text-2xl xl:text-3xl font-black mb-6 lg:mb-8 xl:mb-10 text-center"
                    style="color: #963B62;">
                    Población étnica
                </h4>
                {{ with .Params.grafica_pertenencia_etnica }}
                <iframe class="mx-auto w-full h-96" src="{{ . }}" frameborder="0"></iframe>
                {{ else }}
                <img class="mx-auto" src="/images/territorios/graphic.svg" alt="graphic">
                {{ end }}
            </div>
        </div>
    </div>
    {{/* SECTION END */}}

    {{/* SECTION */}}
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 gap-y-12 lg:gap-y-16 xl:gap-y-20">
            <div class="lg:col-start-4 lg:col-end-13 grid grid-cols-1 lg:grid-cols-2">
                <div>
                    <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10" style="color: #3A3C6A;">
                        Víctimas del conflicto <span class="ml-2 text-2xl lg:text-3xl xl:text-4xl text-black">{{
                            .Params.total_poblacion_victima }}</span>
                    </h4>
                    {{ with .Params.grafica_conflicto_identidad }}
                    <iframe class="w-full h-96" src="{{ . }}" frameborder="0"></iframe>
                    {{ else }}
                    <img src="/images/territorios/chart.svg" alt="chart">
                    {{ end }}
                </div>
                <div>
                    <div class="flex mb-6 lg:mb-8 xl:mb-10">
                        <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10"
                            style="color: #3A3C6A;">
                            Sujetos de reparación <span class="block">colectiva</span>
                        </h4>
                        <p class="font-black ml-8 text-2xl lg:text-3xl xl:text-4xl text-black">{{
                            .Params.num_sujetos_reparacion_colectiva }}</p>
                    </div>
                    <div class="flex">
                        <h4 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10"
                            style="color: #3A3C6A;">
                            Planes de retorno y <span class="block">reubicación colectiva</span>
                        </h4>
                        <p class="font-black ml-8 text-2xl lg:text-3xl xl:text-4xl text-black">{{
                            .Params.num_planes_retorno_reubicacion_colectiva }}</p>
                    </div>
                </div>
            </div>
            <img class="lg:col-start-4 lg:col-end-13" src="/images/territorios/person.svg" alt="person image">
            <div class="lg:col-start-4 lg:col-end-13">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-6 lg:mb-8 xl:mb-10" style="color: #3A3C6A;">
                    Entidades del Sistema Nacional de Atención y Reparación
                </h3>
                <div>
                    <ul class="grid grid-cols-1 gap-y-3 lg:gap-y-4">
                        {{ range .Params.territorio_entidades_snariv_sivjrnr }}
                        <li class="flex items-center lg:text-lg xl:text-xl">
                            <img class="mr-2" src="/images/public/point-black.svg" alt="point">
                            {{ . }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/* SECTION END */}}

    <!-- SECTION -->
    <div class="relative py-12 lg:py-16 l:py-20 lg:col-start-1 lg:col-end-13" id="salud"
        style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 xl:w-9/12">
            <h2 class="lg:text-xl xl:text-2xl font-black text-center mb-8 lg:mb-10 xl:mb-12" style="color: #C5296A;">
                Priorización de los efectos en salud para WLH
            </h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-28 xl:gap-x-32 gap-y-12 xl:gap-y-16">
                <div>
                    <h3 class="font-black lg:text-lg xl:text-xl mb-3 lg:mb-4">
                        Convivencia social y salud mental
                    </h3>
                    <p class="lg:text-lg xl:text-xl">
                        {{ .Params.priorizacion_convivencia_social_salud_mental }}
                    </p>
                </div>
                <div>
                    <h3 class="font-black lg:text-lg xl:text-xl mb-3 lg:mb-4">
                        Gestión diferencial en poblaciones vulnerables
                    </h3>
                    <p class="lg:text-lg xl:text-xl">
                        {{ .Params.priorizacion_gestion_diferencial_poblaciones_vulnerables }}
                    </p>
                </div>
                <div>
                    <h3 class="font-black lg:text-lg xl:text-xl mb-3 lg:mb-4">
                        Sexualidad, derechos sexuales y reproductivos
                    </h3>
                    <p class="lg:text-lg xl:text-xl">
                        {{ .Params.priorizacion_sexualidad_derechos_sexuales_reproductivos }}
                    </p>
                </div>
                <div>
                    <h3 class="font-black lg:text-lg xl:text-xl mb-3 lg:mb-4">
                        Fortalecimiento de autoridad sanitaria
                    </h3>
                    <p class="lg:text-lg xl:text-xl">
                        {{ .Params.priorizacion_fortalecimiento_autoridad_sanitaria }}
                    </p>
                </div>
            </div>
        </div>
        <img class="absolute -top-24 left-0" src="/images/territorios/heal.svg" alt="hearth">
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="py-12 lg:py-16 l:py-20 lg:col-start-1 lg:col-end-13" style="background-color: #3A3C6A;">
        <div class="mx-auto w-10/12 xl:w-9/12">
            <h3 class="text-white text-lg lg:text-xl xl:text-2xl font-black text-center mb-10 lg:mb-12 xl:mb-16">Tasa de
                violencia</h3>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-24">
                <div>
                    <h4
                        class="text-white text-lg lg:text-xl xl:text-2xl font-black text-center mb-10 lg:mb-12 xl:mb-16">
                        Violencia sexual</h4>
                    {{ with .Params.grafica_violencia_sexual }}
                    <iframe class="w-full h-96 mx-auto" src="{{ . }}" frameborder="0"></iframe>
                    {{ else }}
                    <img class="mx-auto" src="/images/territorios/chart-orange.svg" alt="chart">
                    {{ end }}
                </div>
                <div>
                    <h4
                        class="text-white text-lg lg:text-xl xl:text-2xl font-black text-center mb-10 lg:mb-12 xl:mb-16">
                        Violencia física</h4>
                    {{ with .Params.grafica_violencia_fisica }}
                    <iframe class="w-full h-96 mx-auto" src="{{ . }}" frameborder="0"></iframe>
                    {{ else }}
                    <img class="mx-auto" src="/images/territorios/chart-orange.svg" alt="chart">
                    {{ end }}
                </div>
                <div>
                    <h4
                        class="text-white text-lg lg:text-xl xl:text-2xl font-black text-center mb-10 lg:mb-12 xl:mb-16">
                        Negligencia y abandono</h4>
                    {{ with .Params.grafica_negligencia_abandono }}
                    <iframe class="w-full h-96 mx-auto" src="{{ . }}" frameborder="0"></iframe>
                    {{ else }}
                    <img class="mx-auto" src="/images/territorios/chart-orange.svg" alt="chart">
                    {{ end }}
                </div>
                <div>
                    <h4
                        class="text-white text-lg lg:text-xl xl:text-2xl font-black text-center mb-10 lg:mb-12 xl:mb-16">
                        Violencia psicológica</h4>
                    {{ with .Params.grafica_violencia_psicologica }}
                    <iframe class="w-full h-96 mx-auto" src="{{ . }}" frameborder="0"></iframe>
                    {{ else }}
                    <img class="mx-auto" src="/images/territorios/chart-orange.svg" alt="chart">
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20 grid grid-cols-1 lg:grid-cols-12"
        style="background-color: #FAFAFA;">
        <div class="lg:col-start-4 lg:col-end-13 mx-auto w-10/12 xl:w-9/12">
            <h3 class="font-black lg:text-lg xl:text-xl mb-4 lg:mb-5 xl:mb-6" style="color: #1A1A1A;">Eventos en salud
                pública predominantes</h3>
            <ul class="grid grid-cols-2 gap-y-4 gap-x-12 mb-8 lg:mb-12 xl:mb-16">
                {{ range .Params.eventos_salud_publica_predominantes }}
                <li class="flex items-center lg:text-lg xl:text-xl">
                    <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                    {{ . }}
                </li>
                {{ end }}
            </ul>

            <h3 class="font-black lg:text-lg xl:text-xl mb-4 lg:mb-5 xl:mb-6" style="color: #1A1A1A;">Según el Registro
                Individual de Prestación (RIPS), se registran entre los principales diagnósticos de salud mental
                atendidos durante el 2020 por el SGSSS</h3>
            <ul class="grid grid-cols-1 gap-y-4 gap-x-12 mb-8 lg:mb-12 xl:mb-16">
                {{ range .Params.rips_salud_mental_poblacion_general }}
                <li class="flex items-center lg:text-lg xl:text-xl">
                    <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
            <h3 class="font-black lg:text-lg xl:text-xl mb-4 lg:mb-5 xl:mb-6" style="color: #1A1A1A;">Servicios de
                Telemedicina en el Municipio y/o Departamento</h3>
            <ul class="grid grid-cols-1 gap-y-4 gap-x-12 mb-8">
                {{ range .Params.servicios_telemedicina_mpio_depto }}
                <li class="flex items-center lg:text-lg xl:text-xl">
                    <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #4F7435;">
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 gap-y-12">
            <div class="lg:col-start-1 lg:col-end-7">
                <h3 class="text-white font-black text-lg lg:text-xl xl:text-2xl mb-6 lg:mb-8 xl:mb-10">
                    Pobreza multidimensional
                </h3>
                <div class="flex items-center mb-8">
                    <img src="/images/territorios/triangle-green.svg" alt="triangle">
                    <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-12 text-white">
                        {{ .Params.total_pobreza_multidimensional }}
                        <span class="block font-normal lg:text-lg xl:text-2xl">TOTAL</span>
                    </h4>
                </div>
                <div class="grid grid-cols-2">
                    <div class="flex items-center">
                        <img src="/images/territorios/triangle-green.svg" alt="triangle">
                        <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-12 text-white">
                            {{ .Params.pobreza_multidimensional_urbano }}
                            <span class="block font-normal lg:text-lg xl:text-2xl">URBANO</span>
                        </h4>
                    </div>
                    <div class="flex items-center">
                        <img src="/images/territorios/triangle-green.svg" alt="triangle">
                        <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-12 text-white">
                            {{ .Params.pobreza_multidimensional_centro_poblado_rural_disperso }}
                            <span class="block font-normal text-sm">CENTRO POBLADO <br> Y RURAL DISPERSO</span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="lg:col-start-7 lg:col-end-12">
                <p class="lg:text-lg xl:text-xl text-white mb-6 lg:mb-8 xl:mb-10">
                    La pobreza multidimensional se define más allá del tema de los ingresos, y se relaciona con
                    múltiples carencias, privaciones de derechos y capacidades que tiene la población y que afecta su
                    calidad de vida y bienestar.
                </p>
                <p class="lg:text-lg xl:text-xl text-white mb-6 lg:mb-8 xl:mb-10">
                    El índice de pobreza multidimensional (IPM) señala las privaciones que tiene la población en cinco
                    dimensiones: educación; condiciones de niñez y juventud, salud, trabajo, acceso a servicios públicos
                    y condiciones de vivienda y estas cinco imensiones involucran 15 variable. (Fuente: Dane y CEPAL).
                </p>
                <p class="lg:text-lg xl:text-xl text-white">
                    (Fuente: Dane y CEPAL).
                </p>
            </div>
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-12 py-12 lg:py-16 xl:py-20" id="actividades-economicas"
        style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 gap-y-8 lg:gap-y-20 xl:gap-y-24">
            <div class="lg:col-start-1 lg:col-end-7">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5" style="color: #4F7435;">
                    Actividades económicas principales</h3>
                <ul class="grid grid-cols-1 gap-y-4 mb-3 lg:mb-4 xl:mb-5">
                    {{ range .Params.ppales_actividades_economicas }}
                    <li class="flex items-center lg:text-lg xl:text-xl">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
                {{ if .Params.observaciones_ppales_actividades_economicas }}
                <p class="text-lg lg:text-xl p-4 border" style="border-color: #4F7435;">
                    {{ .Params.observaciones_ppales_actividades_economicas }}
                </p>
                {{ end }}
            </div>
            <div class="lg:col-start-8 lg:col-end-13">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5 text-center"
                    style="color: #4F7435;">
                    Trabajo informal</h3>
                <div class="flex items-center justify-center">
                    <img src="/images/territorios/triangle-green.svg" alt="triangle">
                    <h4 class="uppercase font-black text-2xl lg:text-3xl xl:text-4xl -ml-12">
                        {{ .Params.trabajo_informal }}
                        <span class="block font-normal text-lg lg:text-xl xl:text-2xl">TOTAL</span>
                    </h4>
                </div>
            </div>
            <div class="lg:col-start-1 lg:col-end-7">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5" style="color: #4F7435;">
                    Principal vocación del suelo del municipio</h3>
                <ul class="grid grid-cols-1 gap-y-4 mb-3 lg:mb-4 xl:mb-5">
                    {{ range .Params.ppal_vocacion_mpio }}
                    <li class="flex items-center lg:text-lg xl:text-xl">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
                {{ if .Params.observaciones_ppal_vocacion_mpio }}
                <p class="text-lg lg:text-xl p-4 border" style="border-color: #4F7435;">
                    {{ .Params.observaciones_ppal_vocacion_mpio }}
                </p>
                {{ end }}
            </div>
            <div class="lg:col-start-8 lg:col-end-13">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5" style="color: #4F7435;">
                    Principal uso del suelo del municipio</h3>
                <ul class="grid grid-cols-1 gap-y-4">
                    {{ range .Params.ppal_uso_suelo }}
                    <li class="flex items-center lg:text-lg xl:text-xl">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12">
        <div class="lg:col-start-1 lg:col-end-7 py-12 lg:py-16 xl:py-20" style="background-color: #F0F0F2;">
            <div class="mx-auto w-10/12 lg:w-8/12 xl:w-6/12">
                <h2 class="text-lg lg:text-xl xl:text-2xl font-black mb-10 lg:mb-12 xl:mb-16" style="color: #963B62;">
                    Eventos significativos de la vida comunitaria
                </h2>
                <ul class="mx-auto lg:mx-0 w-11/12 lg:w-10/12 grid grid-cols-1 gap-y-6 lg:gap-y-10">
                    {{ range where $data "municipio" $municipio }}
                    <li>
                        <div class="flex justify-between border-b py-2" style="border-color: #81A347;">
                            <h3 class="text-lg lg:text-xl xl:text-2xl font-black">
                                {{ .titulo }}
                            </h3>
                            <span class="lg:text-lg xl:text-xl">Tipo</span>
                        </div>
                        <div class="flex justify-between py-2">
                            <span class="lg:text-lg xl:text-xl">{{ .mes }}</span>
                            <span class="lg:text-lg xl:text-xl">{{ .tipo }}</span>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <img class="lg:col-start-7 lg:col-end-13 w-full h-full object-cover object-center"
            src="/images/territorios/events.svg" alt="events">
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" id="tejido-social-productivo"
        style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 gap-y-12">
            <div class="lg:col-start-1 lg:col-end-7">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5">
                    Espacios de encuentro socio comunitario</h3>
                <ul class="grid grid-cols-1 gap-y-4">
                    {{ range .Params.espacios_socio_comunitarios }}
                    <li class="flex items-center lg:text-lg xl:text-xl">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="lg:col-start-8 lg:col-end-12">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5">
                    Medios, formas e iniciativas de comunicación</h3>
                <ul class="grid grid-cols-1 gap-y-4">
                    {{ range .Params.medios_comunicacion }}
                    <li class="flex items-center lg:text-lg xl:text-xl">
                        <img class="mr-2" src="/images/public/point-black.svg" alt="point black">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <!-- SECTION END -->

    <!-- SECTION -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #963B62;">
        <div class="mx-auto w-10/12 xl:w-9/12 grid grid-cols-1 lg:grid-cols-12 gap-y-12 text-white">
            <div class="lg:col-start-1 lg:col-end-6">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5">
                    Organizaciones e iniciativas de la <br> sociedad civil</h3>
                <p class="lg:text-lg xl:text-xl">
                    {{ .Params.iniciativas_org_sociedad_civil }}
                </p>
            </div>
            <div class="lg:col-start-8 lg:col-end-13">
                <h3 class="text-lg lg:text-xl xl:text-2xl font-black mb-3 lg:mb-4 xl:mb-5">
                    Programas de USAID</h3>
                <ul class="grid grid-cols-1 gap-y-4">
                    {{ range .Params.programas_usaid }}
                    <li class="flex items-center lg:text-lg xl:text-xl">
                        <img class="mr-2" src="/images/public/point.svg" alt="point black">
                        {{ . }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            <img class="lg:col-start-1 lg:col-end-13 mx-auto" src="/images/territorios/person-purple.svg" alt="person">
        </div>
    </div>
    <!-- SECTION END -->

    <!-- DATA EXPLORER -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12" id="explora-datos">
        {{ partial "data-explorer" . }}
    </div>
    <!-- DATA EXPLORER END -->

    <!-- DOWNLOAD -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:pt-16 xl:py-20 relative" style="background-color: #F0F0F2;">
        <div class="mx-auto w-10/12 xl:w-9/12 flex">
            <div class="lg:w-6/12">
                <h2 class="tk-mr-eaves-sans mb-4 lg:mb-6 text-3xl lg:text-4xl xl:text-5xl font-black">
                    DESCARGA
                </h2>
                <p class="xl:text-xl lg:text-lg mb-7">
                    Descarga la información del municipio para conocer su contexto.
                </p>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 text-center">
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="{{ .Params.ficha }}"
                        download="Ficha-{{ .Title }}" style="background-color: #D27028;">
                        DESCARGA LA FICHA
                    </a>
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                        style="background-color: #C5296A;">
                        DESCARGA LOS DATOS
                    </a>
                </div>
            </div>
        </div>
        <img class="absolute top-0 lg:-right-16 h-full hidden lg:block" src="/images/public/line-shape-2.svg"
            alt="line shape">
    </div>
    <!-- DOWNLOAD END -->
</div>
{{ end }}
{{ define "js" }}
{{ $territorios := resources.Get "js/territorios.js" | js.Build (dict "minify" true) }}
<script src="{{ $territorios.Permalink }}"></script>
{{ end }}