{{ define "main" }} {{ $data := index .Site.Data.eventos }} {{ $communities :=
shuffle (index site.Data "comunidades_focalizadas") }} {{ $selectedCommunity :=
index $communities 0 }} {{ $communitySlug := printf "/comunidad-focalizada/%s"
(urlize $selectedCommunity.nombre_comunidad) }}

<div class="grid grid-cols-1 lg:grid-cols-12">
  <div class="lg:col-start-1 lg:col-end-13">
    <!-- Slider main container -->
    <div class="relative swiper swiper-banner overflow-x-hidden observer">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <a href='{{ relref . "galeria.md" }}'>
            <img class="w-full" src="/images/home/banner-home.png" alt="" />
          </a>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide">
            <a href='{{ relref . "galeria.md" }}'>
              <img class="w-full" src="/images/home/banner-home-2.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination-banner"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev" style="left: 109px !important">
        <img src="/images/home/arrow-left-home.svg" alt="arrow left" />
      </div>
      <div class="swiper-button-next" style="right: 109px !important">
        <img src="/images/home/arrow-right-home.svg" alt="arrow right" />
      </div>
    </div>
  </div>
  <!-- ABOUT THE PROGRAM -->
  <div class="lg:col-start-1 lg:col-end-13 py-16 lg:py-20 bg-cultured">
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-5xl text-center">
      <p class="text-lg xl:text-xl mb-4">
        Hilando Comunidades surge de una iniciativa del Programa Hilando Vidas y
        Esperanza (WLH) de la Agencia de Estados Unidos para el Desarrollo
        Internacional (USAID), implementado por la Organización Internacional
        para las Migraciones (OIM) de construir una plataforma colaborativa y de
        divulgación que visibilice las iniciativas de la red de actores que se
        ha venido organizando alrededor de la salud mental, convivencia,
        empoderamiento económico y comunicación para la paz.
      </p>
      <p class="text-lg xl:text-xl mb-8">
        www.hilandocomunidades.com es la herramienta que permite agrupar los
        esfuerzos de diversas personas, organizaciones e instituciones de 17
        municipios afectados por la violencia (priorizados en los Planes de
        Desarrollo con Enfoque Territorial (PDET)), que junto al Programa WLH de
        USAID y OIM trabajan para tejer vida y esperanza en Colombia.
      </p>
      <a
        class="uppercase text-white font-bold py-2 px-6 xl:text-lg bg-space-cadet"
        href='{{ relref . "sobre-nosotros.md" }}'
      >
        Sobre nosotros
      </a>
    </div>
  </div>
  <!-- ABOUT THE PROGRAM END -->

  <div class="lg:col-start-1 lg:col-end-13 bg-cultured">
    <img class="mx-auto" src="/images/home/about-program.svg" alt="" />
  </div>
  <!-- UPCOMING EVENTS -->
  <div
    class="lg:col-start-1 lg:col-end-13 pt-12 lg:pt-16 xl:pt-20 relative space-y-12 pb-12 lg:pb-16 xl:pb-20 bg-cultured"
  >
    <h2
      class="text-purple text-3xl xl:text-4xl text-center tk-mr-eaves-sans font-black"
    >
      Eventos <span class="inline-block px-1 bg-puce">Comunitarios</span>
    </h2>
    {{ partial "events" . }}
  </div>
  <!-- UPCOMING EVENTS END -->
  <!-- OUTSTANDING NEWS -->
  <div class="lg:col-start-1 lg:col-end-13 bg-cultured">
    <div class="mx-auto w-10/12 lg:w-8/12">
      <h2
        class="tk-mr-eaves-sans font-black text-3xl xl:text-4xl mb-8 lg:mb-12 xl:mb-16 text-center"
      >
        <span class="px-1 bg-cambridge-blue">Noticias</span> destacadas
      </h2>
      <div class="relative">
        <!-- Slider main container -->
        <div class="swiper swiper-news">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            {{ range where .Pages "Section" "noticias" }} {{ range .Pages }}
            <!-- Slides -->
            <div class="swiper-slide">
              <div
                class="relative border-t-2 p-10 hover:shadow-lg duration-300 space-y-4 bg-white-2 border-olivine"
              >
                <img
                  class="h-52 w-full object-cover object-center"
                  src="{{ .Params.image }}"
                  alt=""
                />
                <p class="text-sm lg:text-base italic">
                  Fecha: {{ .Date | time.Format ":date_long" }}
                </p>
                <h3 class="text-lg xl:text-xl font-black text-black">
                  {{ .Title | safeHTML | truncate 60 }}
                </h3>
                <p class="text-lg xl:text-xl">
                  {{ .Description | safeHTML | truncate 130 }}
                </p>
                <a
                  class="inline-block py-2 px-8 uppercase text-white font-bold bg-space-cadet"
                  href="{{ .RelPermalink }}"
                  >Ver todo</a
                >
                <img
                  class="absolute right-0 -top-4"
                  src="/images/public/sticky.svg"
                  alt=""
                />
              </div>
            </div>
            {{ end }} {{ end }}
          </div>
        </div>
        <div class="z-20">
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev swiper-button-prev-news">
            <img
              src="/images/public/left-arrow-green.svg"
              alt="Flecha a la izquierda"
            />
          </div>
          <div class="swiper-button-next swiper-button-next-news">
            <img
              src="/images/public/right-arrow-green.svg"
              alt="Flecha a la derecha"
            />
          </div>
        </div>
      </div>
      <div class="text-center mb-12 lg:mb-16">
        <a
          class="uppercase text-white py-2 px-6 xl:text-lg bg-rose"
          href='{{ relref . "noticias/_index.md" }}'
          >Conoce Más</a
        >
      </div>
    </div>
  </div>
  <!-- OUTSTANDING NEWS END -->
  <div class="lg:col-start-1 lg:col-end-13 bg-cultured">
    <img
      class="mx-auto w-11/12 md:w-9/12 lg:w-auto"
      src="/images/public/logo-hilando-2.svg"
      alt=""
    />
  </div>
  <div class="lg:col-start-1 lg:col-end-13 bg-cultured py-12 lg:py-16 xl:py-20">
    <div class="mx-auto w-11/12 lg:w-10/12">
      <h2
        class="tk-mr-eaves-sans font-black text-3xl xl:text-4xl mb-8 lg:mb-12 xl:mb-16 text-center"
      >
        Fichas de
        <span class="px-1 bg-space-cadet bg-opacity-40">Comunidades</span>
      </h2>
      <div class="flex flex-col md:flex-row items-stretch">
        <div class="md:w-1/2">
          <div
            class="bg-space-cadet text-cultured p-10 h-full flex flex-col justify-between"
          >
            <div>
              <h3 class="text-xl lg:text-2xl font-bold uppercase">
                {{ $selectedCommunity.nombre_comunidad }}
              </h3>
              <p class="uppercase text-sm font-light">
                {{ $selectedCommunity.municipio }} - {{
                $selectedCommunity.departamento }}
              </p>
            </div>
            {{ if $selectedCommunity.descripcion }}
            <div class="relative mt-4">
              <img
                class="w-full"
                src="/images/public/shape-gray.svg"
                alt="shape gray"
              />
              <p class="-mt-4 xl:-mt-8 lg:text-lg line-clamp-4">
                {{ $selectedCommunity.descripcion }}
              </p>
            </div>
            {{ end }}
            <div>
              <a
                class="inline-block mt-6 bg-cultured py-2 px-6 text-space-cadet font-light uppercase"
                href="{{ $communitySlug }}"
              >
                Ver todo
              </a>
            </div>
          </div>
        </div>
        <div class="md:w-1/2">
          <div class="p-10 bg-white h-full">
            <div
              class="text-center flex flex-col justify-between h-full gap-y-4"
            >
              <h3 class="text-xl xl:text-2xl font-semibold uppercase">
                Cantidad de familias
              </h3>
              <img
                class="mx-auto"
                src="/images/territorios/family.svg"
                alt=""
              />
              <p class="text-3xl xl:text-4xl font-extrabold">
                {{ $selectedCommunity.num_familias }}
                <span class="block text-sm"> FAMILIAS </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      {{ if $selectedCommunity.comentarios_punto_sole }}
      <div
        class="padlet-embed"
        style="
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          width: 100%;
          background: #f4f4f4;
        "
      >
        <p style="padding: 0; margin: 0">
          <iframe
            src="{{ $selectedCommunity.comentarios_punto_sole }}"
            frameborder="0"
            allow="camera;microphone;geolocation"
            style="
              width: 100%;
              height: 608px;
              display: block;
              padding: 0;
              margin: 0;
            "
          ></iframe>
        </p>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: end;
            margin: 0;
            height: 28px;
          "
        >
          <a
            href="https://padlet.com?ref=embed"
            style="
              display: block;
              flex-grow: 0;
              margin: 0;
              border: none;
              padding: 0;
              text-decoration: none;
            "
            target="_blank"
            ><div style="display: flex; align-items: center">
              <img
                src="https://padlet.net/embeds/made_with_padlet_2022.png"
                width="114"
                height="28"
                style="
                  padding: 0;
                  margin: 0;
                  background: 0 0;
                  border: none;
                  box-shadow: none;
                "
                alt="Hecho con Padlet"
              /></div
          ></a>
        </div>
      </div>
      {{ end }}
      <div class="text-center mt-12 lg:mt-16">
        <a
          class="uppercase text-white py-2 px-6 xl:text-lg bg-rose"
          href='{{ relref . "territorios/_index.md" }}'
          >Conoce Más</a
        >
      </div>
      {{ if $selectedCommunity.comentarios_punto_sole }}
      <div
        class="padlet-embed"
        style="
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          width: 100%;
          background: #f4f4f4;
        "
      >
        <p style="padding: 0; margin: 0">
          <iframe
            src="{{ $selectedCommunity.comentarios_punto_sole }}"
            frameborder="0"
            allow="camera;microphone;geolocation"
            style="
              width: 100%;
              height: 608px;
              display: block;
              padding: 0;
              margin: 0;
            "
          ></iframe>
        </p>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: end;
            margin: 0;
            height: 28px;
          "
        >
          <a
            href="https://padlet.com?ref=embed"
            style="
              display: block;
              flex-grow: 0;
              margin: 0;
              border: none;
              padding: 0;
              text-decoration: none;
            "
            target="_blank"
            ><div style="display: flex; align-items: center">
              <img
                src="https://padlet.net/embeds/made_with_padlet_2022.png"
                width="114"
                height="28"
                style="
                  padding: 0;
                  margin: 0;
                  background: 0 0;
                  border: none;
                  box-shadow: none;
                "
                alt="Hecho con Padlet"
              /></div
          ></a>
        </div>
      </div>
      {{ end }}
      <div class="text-center mt-12 lg:mt-16">
        <a
          class="uppercase text-white py-2 px-6 xl:text-lg bg-rose"
          href='{{ relref . "territorios/_index.md" }}'
          >Conoce Más</a
        >
      </div>
      {{ if $selectedCommunity.comentarios_punto_sole }}
      <div
        class="padlet-embed"
        style="
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          width: 100%;
          background: #f4f4f4;
        "
      >
        <p style="padding: 0; margin: 0">
          <iframe
            src="{{ $selectedCommunity.comentarios_punto_sole }}"
            frameborder="0"
            allow="camera;microphone;geolocation"
            style="
              width: 100%;
              height: 608px;
              display: block;
              padding: 0;
              margin: 0;
            "
          ></iframe>
        </p>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: end;
            margin: 0;
            height: 28px;
          "
        >
          <a
            href="https://padlet.com?ref=embed"
            style="
              display: block;
              flex-grow: 0;
              margin: 0;
              border: none;
              padding: 0;
              text-decoration: none;
            "
            target="_blank"
            ><div style="display: flex; align-items: center">
              <img
                src="https://padlet.net/embeds/made_with_padlet_2022.png"
                width="114"
                height="28"
                style="
                  padding: 0;
                  margin: 0;
                  background: 0 0;
                  border: none;
                  box-shadow: none;
                "
                alt="Hecho con Padlet"
              /></div
          ></a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <input
    type="hidden"
    name="data"
    id="data-eventos"
    value="{{ jsonify $data }}"
  />
</div>
{{ end }} {{ define "head" }} {{ $swiper := resources.Get "css/swiper.css" |
postCSS | fingerprint }}
<link rel="stylesheet" href="{{ $swiper.Permalink }}" />
{{ end }} {{ define "js" }} {{ $home := resources.Get "js/home.js" | js.Build
(dict "minify" true) }}
<script src="{{ $home.Permalink }}"></script>
{{ end }}
