{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- BANNER HOME PAGE -->
    <div class="lg:col-start-1 lg:col-end-13 relative bg-banner-home-sm lg:bg-banner-home-lg bg-cover bg-center py-64 lg:py-72 xl:py-80"
        style="height: 550px;">
        <h1
            class="tk-mr-eaves-sans text-white text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-black text-center">
            HILANDO VIDAS Y ESPERANZA
            <span class="block font-extralight">
                WEAVING LIVES AND HOPE
            </span>
        </h1>
        <p class="absolute bottom-4 right-4 italic text-white">
            Lorem ipsum dolor sit amet, consectetuer adipiscing.
        </p>
    </div>
    <!-- BANNER HOME PAGE END -->

    <!-- ABOUT THE PROGRAM -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-10/12 md:w-8/12 lg:w-7/12 xl:w-5/12 text-center">
            <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore.
            </p>
            <img class="mx-auto mb-6 lg:mb-8 xl:mb-10" src="/images/home/about-program.svg" alt="about the program">
            <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                style="background-color: #D27028;">Sobre
                el programa</a>
        </div>
    </div>
    <!-- ABOUT THE PROGRAM END -->

    <!-- TARGET POPULATION -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12">
        <img class="lg:col-start-1 lg:col-end-7 w-full h-full" src="/images/home/target-population.png"
            alt="target population">
        <div class="lg:col-start-7 lg:col-end-13 text-white self-stretch flex flex-col justify-center py-12 md:py-16 lg:py-20 xl:py-24 px-16 lg:px-20 xl:px-24"
            style="background-color: #963B62;">
            <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-4">
                <span class="pl-2" style="background-color: #C5296A;">Población</span> objetivo
            </h2>
            <p class="lg:text-lg xl:text-xl xl:w-11/12">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                accumsan.
            </p>
        </div>
    </div>
    <!-- TARGET POPULATION END -->

    <!-- TARGETED TERRITORIES -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-11/12 lg:w-10/12 grid grid-cols-1 lg:grid-cols-12">
            <div class="lg:col-start-1 lg:col-end-7">
                <div class="mb-3 lg:mb-5 xl:mb-7">
                    <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-4">
                        <span class="pl-2" style="background-color: #D7729C;">Territorios</span> focalizados
                    </h2>
                    <p class="lg:text-lg xl:text-xl xl:w-8/12">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet
                        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper
                        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in
                        hendrerit
                        in
                        vulputate velit esse molestie consequat, vel illum dolore.
                    </p>
                </div>
                <div>
                    <h2 class="font-black text-lg lg:text-xl xl:text-2xl mb-2 lg:mb-4">
                        Montes de María
                    </h2>
                    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-4 mb-6 lg:mb-8 xl:mb-10">
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Chalán</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Colosó</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">San Juan
                                Nepomuceno</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">San Jacinto</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Toluviejo</a>
                        </li>
                    </ul>
                    <h2 class="font-black lg:text-lg xl:text-xl mb-2 lg:mb-4">
                        Bajo Cauca y Nordeste Antioqueño
                    </h2>
                    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-4 mb-6 lg:mb-8 xl:mb-10 ">
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Anorí</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Cáceres</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">El Bagre</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Valdivia</a>
                        </li>
                    </ul>
                    <h2 class="font-black lg:text-lg xl:text-xl mb-2 lg:mb-4">
                        Pacífico Medio, Alto Patía y Norte del Cauca
                    </h2>
                    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-4">
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Buenaventura</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Buenos Aires</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Santander de
                                Quilichao</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="{{ relref . " territorios/pradera-valle-cauca.md"
                                }}">Pradera</a>
                        </li>
                        <li class="pb-1 border-b border-black">
                            <a class="lg:text-lg xl:text-xl" href="#">Toribío</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lg:col-start-7 lg:col-end-13">
                <img class="mx-auto" src="/images/home/targeted-territories.svg" alt="targeted territories">
            </div>
        </div>
    </div>
    <!-- TARGETED TERRITORIES END -->

    <!-- PROGRAM IMPACT -->
    <div class="lg:col-start-1 lg:col-end-13 grid grid-cols-1 lg:grid-cols-12">
        <div class="lg:col-start-1 lg:col-end-7 py-12 md:py-16 lg:py-20 xl:py-24 px-16 lg:px-20 xl:px-32 text-white"
            style="background-color: #4F7435;">
            <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-4">
                <span class="pl-2" style="background-color: #81A347;">Impacto</span> del Programa
            </h2>
            <p class="lg:text-lg xl:text-xl xl:w-11/12">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
                in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                accumsan.
            </p>
        </div>
        <img class="lg:col-start-7 lg:col-end-13 h-full w-full" src="/images/home/program-impact.png" alt="program impact">
    </div>
    <!-- PROGRAM IMPACT END -->

    <!-- OUTSTANDING NEWS -->
    <div class="lg:col-start-1 lg:col-end-13 py-12 lg:py-16 xl:py-20" style="background-color: #FAFAFA;">
        <div class="mx-auto w-11/12 lg:w-10/12">
            <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-8 lg:mb-12 xl:mb-16 text-center">
                <span class="pl-2" style="background-color: #9EB290;">Noticias</span> destacadas
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-12 lg:gap-x-8 mb-12 lg:mb-16 xl:mb-20">
                <div class="relative border-t-2 p-10 cursor-pointer hover:shadow-lg duration-300"
                    style="background-color: #F7F8F9; border-color: #B0C58F;">
                    <img class="mb-2 lg:mb-4" src="/images/home/notice.png" alt="notice">
                    <h3 class="lg:text-lg xl:text-xl font-black mb-2 lg:mb-3" style="color: #4F7435;">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    </h3>
                    <p class="lg:text-lg xl:text-xl mb-2 lg:mb-3">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u
                        labore dolore magna aliquyam erat, sed Diam...
                    </p>
                    <p class="lg:text-lg xl:text-xl italic">Fecha: Marzo 15 del 2021</p>
                    <img class="absolute right-0 top-0" src="/images/public/sticky.svg" alt="sticky">
                </div>
                <div class="relative border-t-2 p-10 cursor-pointer hover:shadow-lg duration-300"
                    style="background-color: #F7F8F9; border-color: #B0C58F;">
                    <img class="mb-2 lg:mb-4" src="/images/home/notice.png" alt="notice">
                    <h3 class="lg:text-lg xl:text-xl font-black mb-2 lg:mb-3" style="color: #4F7435;">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    </h3>
                    <p class="lg:text-lg xl:text-xl mb-2 lg:mb-3">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u
                        labore dolore magna aliquyam erat, sed Diam...
                    </p>
                    <p class="lg:text-lg xl:text-xl italic">Fecha: Marzo 15 del 2021</p>
                    <img class="absolute right-0 top-0" src="/images/public/sticky.svg" alt="sticky">
                </div>
                <div class="relative border-t-2 p-10 cursor-pointer hover:shadow-lg duration-300"
                    style="background-color: #F7F8F9; border-color: #B0C58F;">
                    <img class="mb-2 lg:mb-4" src="/images/home/notice.png" alt="notice">
                    <h3 class="lg:text-lg xl:text-xl font-black mb-2 lg:mb-3" style="color: #4F7435;">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    </h3>
                    <p class="lg:text-lg xl:text-xl mb-2 lg:mb-3">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt u
                        labore dolore magna aliquyam erat, sed Diam...
                    </p>
                    <p class="lg:text-lg xl:text-xl italic">Fecha: Marzo 15 del 2021</p>
                    <img class="absolute right-0 top-0" src="/images/public/sticky.svg" alt="sticky">
                </div>
            </div>
            <div class="text-center">
                <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                    style="background-color: #C5296A;">Conoce Más</a>
            </div>
        </div>
    </div>
    <!-- OUTSTANDING NEWS END -->

    <div class="lg:col-start-1 lg:col-end-13" style="background-color: #FAFAFA;">
        <img class="mx-auto w-11/12 md:w-9/12 lg:w-auto" src="/images/public/logo-hilando-2.svg" alt="hilando">
    </div>

    <!-- LOREM IPSUM -->
    <div class="lg:col-start-1 lg:col-end-13 pt-12 pb-24 lg:pt-16 lg:pb-32 xl:pt-20 xl:pb-40"
        style="background-color: #FAFAFA;">
        <div class="mx-auto w-11/12 lg:w-10/12">
            <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-8 lg:mb-12 xl:mb-16 text-center">
                <span class="pl-2" style="background-color: #C493A8;">Lorem</span> impum dolor
            </h2>
            <div
                class="grid grid-cols-1 md:grid-cols-2 gap-y-16 lg:gap-y-20 xl:gap-y-26 md:gap-x-16 lg:gap-x-32 xl:gap-x-36 items-center">
                <div class="order-1">
                    <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-4 xl:mb-6">
                        Lorem ipsum dolor sit amet, <br>
                        <span class="pl-2" style="background-color: #B97D97;">consectetuer</span> adipiscing elit
                    </h2>
                    <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation
                        ullamcorper.
                    </p>
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                        style="background-color: #D27028;">
                        Explorar datos
                    </a>
                </div>
                <img class="order-2 mx-auto self-end" src="/images/public/chart.svg" alt="chart">
                <img class="order-4 md:order-3 mx-auto self-end" src="/images/public/chart.svg" alt="chart">
                <div class="order-3 md:order-4">
                    <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-4 xl:mb-6">
                        Lorem ipsum dolor sit amet, <br>
                        <span class="pl-2" style="background-color: #B97D97;">consectetuer</span> adipiscing elit
                    </h2>
                    <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation
                        ullamcorper.
                    </p>
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                        style="background-color: #D27028;">
                        Explorar datos
                    </a>
                </div>
                <div class="order-5">
                    <h2 class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-2 lg:mb-4 xl:mb-6">
                        Lorem ipsum dolor sit amet, <br>
                        <span class="pl-2" style="background-color: #B97D97;">consectetuer</span> adipiscing elit
                    </h2>
                    <p class="lg:text-lg xl:text-xl mb-4 lg:mb-6 xl:mb-8">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation
                        ullamcorper.
                    </p>
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                        style="background-color: #D27028;">
                        Explorar datos
                    </a>
                </div>
                <img class="order-6 mx-auto self-end" src="/images/public/chart.svg" alt="chart">
            </div>
        </div>
    </div>
    <!-- LOREM IPSUM END -->

    <!-- UPCOMING EVENTS -->
    <div class="lg:col-start-1 lg:col-end-13 relative py-12 lg:py-16 xl:py-20" style="background-color: #3A3C6A;">
        <div class="mx-auto w-9/12 relative">
            <h2
                class="tk-mr-eaves-sans font-black text-2xl lg:text-3xl xl:text-4xl mb-4 lg:mb-6 xl:mb-8 text-center text-white">
                Próximos
                <span class="pl-2" style="background-color: #6C3C66;">eventos</span>
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:gap-x-12 xl:gap-x-20 mb-12 lg:mb-16 xl:mb-20">
                <div class="relative text-white p-10 hover:shadow-lg duration-300" style="background-color: #3A3C6A;">
                    <img class="mb-4 lg:mb-6" src="/images/home/notice.png" alt="notice">
                    <h3 class="relative text-lg lg:text-xl xl:text-2xl font-black mb-2 lg:mb-3 border-b-2 pb-2"
                        style="border-color: #963B62;">
                        <img class="absolute -top-4 xl:-top-3 left-0" src="/images/public/triangle-up.svg"
                            alt="tiangle up">
                        <span class="relative">Nombre del próximo evento</span>
                    </h3>
                    <p class="relative lg:text-lg xl:text-xl mb-4 lg:mb-5">
                        <img class="absolute -top-2 lg:-top-3 right-0" src="/images/public/triangle-down.svg"
                            alt="tiangle up">
                        <span class="relative">Julio 24 del 2021</span>
                    </p>
                    <p class="lg:text-lg xl:text-xl mb-8 lg:mb-10">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                        style="background-color: #C5296A;">
                        Conoce más
                    </a>
                </div>
                <div class="hidden md:block relative text-white p-10 hover:shadow-lg duration-300"
                    style="background-color: #3A3C6A;">
                    <img class="mb-4 lg:mb-6" src="/images/home/notice.png" alt="notice">
                    <h3 class="relative text-lg lg:text-xl xl:text-2xl font-black mb-2 lg:mb-3 border-b-2 pb-2"
                        style="border-color: #963B62;">
                        <img class="absolute -top-4 xl:-top-3 left-0" src="/images/public/triangle-up.svg"
                            alt="tiangle up">
                        <span class="relative">Nombre del próximo evento</span>
                    </h3>
                    <p class="relative lg:text-lg xl:text-xl mb-4 lg:mb-5">
                        <img class="absolute -top-2 lg:-top-3 right-0" src="/images/public/triangle-down.svg"
                            alt="tiangle up">
                        <span class="relative">Julio 24 del 2021</span>
                    </p>
                    <p class="lg:text-lg xl:text-xl mb-8 lg:mb-10">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut
                        laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <a class="uppercase font-bold text-white py-3 px-6 xl:text-lg" href="#"
                        style="background-color: #C5296A;">
                        Conoce más
                    </a>
                </div>
            </div>
            <img class="absolute transform -translate-y-1/2 top-1/2 -left-12 md:-left-16 lg:-left-20 xl:-left-28"
                src="/images/public/left-arrow.svg" alt="left arrow">
            <img class="absolute transform -translate-y-1/2 top-1/2 -right-12 md:-right-16 lg:-right-20 xl:-right-28"
                src="/images/public/right-arrow.svg" alt="left arrow">
        </div>
        <img src="/images/public/line-shape.svg" alt="line shape"
            class="absolute -top-4 sm:-top-6 md:-top-8 lg:-top-10 xl:-top-12 2xl:-top-14 left-0">
    </div>
    <!-- UPCOMING EVENTS END -->
</div>
{{ end }}